/.bundle
/log/*.log
/tmp
/config/database.yml
/config/ip_whitelist.yml
/config/initializers/devise.rb
/config/initializers/voyager_helpers.rb
# Ignore everything
/data/*
!/data/.keep
marc_to_solr/translation_maps/locations.rb
marc_to_solr/translation_maps/location_display.rb
marc_to_solr/translation_maps/holding_library.rb
/coverage
/db/data.yml
.DS_Store
