/.bundle
/log/**
/tmp
# Ignore everything
/data/*
!/data/.keep
marc_to_solr/translation_maps/locations.rb
marc_to_solr/translation_maps/location_display.rb
marc_to_solr/translation_maps/figgy_mms_ids.yaml
/coverage
/db/data.yml
.DS_Store
dump.rdb
spec/fixtures/marc_to_solr/figgy_ark_cache
.byebug_history
.yardoc/
doc/
.env
.aws-sam/
target
/lib/bibdata_rs/bibdata_rs.*
Makefile
mkmf.log
.vscode/*
