<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <%= type == 'error' ? (render partial: "shared/error_flash_message") : message.html_safe %>
  </div>
<% end %>
