<p>
  <strong>Label:</strong>
  <%= @library.label %>
</p>

<p>
  <strong>Code:</strong>
  <%= @library.code %>
</p>

<p>
  <strong>Order:</strong>
  <%= @library.order %>
</p>

<%= link_to 'All Libraries', libraries_path %>
