<h1>PUL Bibliographic Data Web Service</h1>
<p><i>(AKA: &ldquo;MARC Liberation&rdquo;, 
  &ldquo;Child of getvoyrec&rdquo;,
  &ldquo;The Fat Pipe&rdquo;)</i>
</p>
<h2>Alma</h2>
<h2>By Alma ID...</h2>
<%= render 'pages/bib_forms' %>
