development:
  adapter: mysql2
  collation: utf8_bin
  encoding: utf8
  database: marc_liberation_dev
  username: root
  password:
  pool: 5
  timeout: 5000
  host: localhost

test:
  adapter: mysql2
  collation: utf8_bin
  encoding: utf8
  database: marc_liberation_test
  pool: 5
  username: root
  password:
  timeout: 5000
  host: localhost

production:
  adapter: mysql2
  collation: utf8_bin
  encoding: utf8
  database: <%= ENV['BIBDATA_DB'] %>
  pool: 20
  username: <%= ENV['BIBDATA_DB_USERNAME'] %>
  password: <%= ENV['BIBDATA_DB_PASSWORD'] %>
  timeout: 5000
  host: <%= ENV['BIBDATA_DB_HOST'] %>
