---
# Start with a '/' for absolute paths. Otherwise we assume this is relative to
# Rails.root
data_dir: <%= ENV['BIBDATA_DATA_DIR'] || 'data' %>
records_per_file: 50000
recap_dump_records_per_file: 5000
test_records_per_file: 25
dump_types:
- label: 'Changed Records'
  constant: 'CHANGED_RECORDS'
- label: 'All Holding IDs'
  constant: 'HOLDING_IDS'
- label: 'All Bib IDs'
  constant: 'BIB_IDS'
- label: 'All Records'
  constant: 'ALL_RECORDS'
- label: 'Updated Princeton ReCAP Records'
  constant: 'PRINCETON_RECAP'
- label: 'Updated Partner ReCAP Records'
  constant: 'PARTNER_RECAP'

dump_file_types:
- label: 'Updated Records'
  constant: 'UPDATED_RECORDS'
- label: 'New Records'
  constant: 'NEW_RECORDS'
- label: 'All Holding IDs'
  constant: 'HOLDING_IDS'
- label: 'All Bib IDs'
  constant: 'BIB_IDS'
- label: 'All Bib Records'
  constant: 'BIB_RECORDS'
- label: 'Updated ReCAP Records'
  constant: 'RECAP_RECORDS'
