<p id="notice"><%= notice %></p>

<p>
  <strong>Dump:</strong>
  <%= @dump_file.dump %>
</p>

<p>
  <strong>Path:</strong>
  <%= @dump_file.path %>
</p>

<p>
  <strong>MD5:</strong>
  <%= @dump_file.md5 %>
</p>

