@import "bootstrap-sprockets";
@import "bootstrap";

@import 'variables/colors';
@import 'variables/typography';

@import 'base/typography';

body {
  color: $primary-color;
  padding-top: 90px;
}

td.nowrap {
  white-space: nowrap;
}
