@import "bootstrap-sprockets";
@import "bootstrap";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: $font-stack;
  color: $primary-color;
  padding-top: 90px;
}

td.nowrap {
  white-space: nowrap;
}
