
{ "recap$gp" => "Firestone Library",
  "recap$pb" => "Firestone Library",
  "recap$pf" => "Firestone Library",
  "recap$pg" => "Rare Books and Special Collections",
  "recap$ph" => "Mudd Manuscript Library",
  "recap$pj" => "Marquand Library",
  "recap$pk" => "Mendel Music Library",
  "recap$pl" => "East Asian Library",
  "recap$pm" => "Stokes Library",
  "recap$pn" => "Lewis Library",
  "recap$pq" => "Harold P. Furth Plasma Physics Library",
  "recap$ps" => "Lewis Library",
  "recap$pt" => "Engineering Library",
  "recap$pw" => "Architecture Library",
  "recap$pz" => "Marquand Library",
  "recap$qk" => "Mendel Music Library",
  "recap$ql" => "East Asian Library",
  "recap$qv" => "Video Library",
  "recap$xc" => "Rare Books and Special Collections",
  "recap$xg" => "Rare Books and Special Collections",
  "recap$xm" => "Rare Books and Special Collections",
  "recap$xn" => "Rare Books and Special Collections",
  "recap$xp" => "Rare Books and Special Collections",
  "recap$xr" => "Rare Books and Special Collections",
  "recap$xx" => "Rare Books and Special Collections",
  "rare$warf" => "Rare Books and Special Collections" }