{ "rcpgp" => "Firestone Library",
  "rcppb" => "Firestone Library",
  "rcppf" => "Firestone Library",
  "rcppg" => "Rare Books and Special Collections",
  "rcpph" => "Mudd Manuscript Library",
  "rcppj" => "Marquand Library",
  "rcppk" => "Mendel Music Library",
  "rcppl" => "East Asian Library",
  "rcppm" => "Stokes Library",
  "rcppn" => "Lewis Library",
  "rcppq" => "Harold P. Furth Plasma Physics Library",
  "rcpps" => "Lewis Library",
  "rcppt" => "Engineering Library",
  "rcppw" => "Architecture Library",
  "rcppz" => "Marquand Library",
  "rcpqk" => "Mendel Music Library",
  "rcpql" => "East Asian Library",
  "rcpqv" => "Video Library",
  "rcpxc" => "Rare Books and Special Collections",
  "rcpxg" => "Rare Books and Special Collections",
  "rcpxm" => "Rare Books and Special Collections",
  "rcpxn" => "Rare Books and Special Collections",
  "rcpxp" => "Rare Books and Special Collections",
  "rcpxr" => "Rare Books and Special Collections",
  "rcpxx" => "Rare Books and Special Collections",
  "warf" => "Rare Books and Special Collections" }
