{ "aas" => "Firestone Library",
  "anxa" => "Forrestal Annex",
  "anxadoc" => "Forrestal Annex",
  "anxafst" => "Forrestal Annex",
  "anxb" => "Fine Annex",
  "anxbl" => "Fine Annex",
  "anxbnc" => "Fine Annex",
  "ast" => "Engineering Library",
  "astrf" => "Engineering Library",
  "beac" => "Special Collections",
  "c" => "East Asian Library",
  "clas" => "Firestone Library",
  "clasnc" => "Firestone Library",
  "cook" => "Special Collections",
  "crare" => "East Asian Library",
  "cref" => "East Asian Library",
  "ctsn" => "Special Collections",
  "ctsnrf" => "Special Collections",
  "dc" => "Firestone Library",
  "dixn" => "Firestone Library",
  "docs" => "Firestone Library",
  "docsm" => "Firestone Library",
  "dr" => "Firestone Library",
  "dra" => "Firestone Library",
  "drrr" => "Firestone Library",
  "dss" => "Firestone Library",
  "ed" => "Special Collections",
  "egsr" => "Firestone Library",
  "elf" => "Online",
  "elf1" => "Online",
  "elf2" => "Online",
  "elf3" => "Online",
  "elf4" => "Online",
  "ex" => "Special Collections",
  "exb" => "Special Collections",
  "exc" => "Special Collections",
  "exca" => "Special Collections",
  "exf" => "Special Collections",
  "exho" => "Special Collections",
  "exi" => "Special Collections",
  "exka" => "Special Collections",
  "exki" => "Special Collections",
  "exl" => "Special Collections",
  "exme" => "Special Collections",
  "exov" => "Special Collections",
  "expa" => "Special Collections",
  "exrc" => "Special Collections",
  "exrl" => "Special Collections",
  "extr" => "Special Collections",
  "extsf" => "Special Collections",
  "exv" => "Special Collections",
  "exw" => "Special Collections",
  "f" => "Firestone Library",
  "fis" => "Firestone Library",
  "flm" => "Firestone Library",
  "flmb" => "Firestone Library",
  "flmm" => "Firestone Library",
  "flmp" => "Firestone Library",
  "fnc" => "Firestone Library",
  "ga" => "Special Collections",
  "garf" => "Special Collections",
  "gax" => "Special Collections",
  "gest" => "East Asian Library",
  "gestf" => "Firestone Library",
  "gestpe" => "East Asian Library",
  "gestpr" => "East Asian Library",
  "gestrare" => "East Asian Library",
  "gestrf" => "East Asian Library",
  "gstr" => "East Asian Library",
  "gstrf" => "East Asian Library",
  "hldn" => "Firestone Library",
  "hsvc" => "Special Collections",
  "hsve" => "Special Collections",
  "hsvg" => "Special Collections",
  "hsvm" => "Special Collections",
  "hsvn" => "Special Collections",
  "hsvp" => "Special Collections",
  "hsvr" => "Special Collections",
  "htn" => "Special Collections",
  "hyc" => "East Asian Library",
  "hycpe" => "East Asian Library",
  "hycrare" => "East Asian Library",
  "hycrf" => "East Asian Library",
  "hyg" => "East Asian Library",
  "hygf" => "Forrestal Annex",
  "hyj" => "East Asian Library",
  "hyjpe" => "East Asian Library",
  "hyjrare" => "East Asian Library",
  "hyjrf" => "East Asian Library",
  "hyk" => "East Asian Library",
  "hykrare" => "East Asian Library",
  "hykrf" => "East Asian Library",
  "j" => "East Asian Library",
  "jrare" => "East Asian Library",
  "jref" => "East Asian Library",
  "k" => "East Asian Library",
  "krare" => "East Asian Library",
  "kref" => "East Asian Library",
  "l" => "Forrestal Annex",
  "law" => "Firestone Library",
  "lrc" => "Firestone Library",
  "lrcpt" => "Video Library",
  "lrcr" => "Video Library",
  "ltop" => "Firestone Library",
  "ltoppiapr" => "Stokes Library",
  "ltopsa" => "Marquand Library",
  "ltopsci" => "Lewis Library",
  "ltopst" => "Engineering Library",
  "map" => "Special Collections",
  "mlis" => "Mendel Music Library",
  "mss" => "Special Collections",
  "mudd" => "Mudd Manuscript Library",
  "mudf" => "Mudd Manuscript Library",
  "mus" => "Mendel Music Library",
  "musg" => "Mendel Music Library",
  "musnb" => "Mendel Music Library",
  "muspe" => "Mendel Music Library",
  "musr" => "Mendel Music Library",
  "musrg" => "Mendel Music Library",
  "nec" => "Firestone Library",
  "necnc" => "Firestone Library",
  "ned" => "East Asian Library",
  "new" => "Firestone Library",
  "njpg" => "Special Collections",
  "nr" => "Firestone Library",
  "num" => "Special Collections",
  "numrf" => "Special Collections",
  "other" => "Other Location",
  "p" => "Forrestal Annex",
  "pb" => "Special Collections",
  "piapr" => "Stokes Library",
  "piaprr" => "Stokes Library",
  "ppl" => "Harold P. Furth Plasma Physics Library",
  "pplia" => "Harold P. Furth Plasma Physics Library",
  "pplla" => "Harold P. Furth Plasma Physics Library",
  "pplli" => "Harold P. Furth Plasma Physics Library",
  "pplnb" => "Harold P. Furth Plasma Physics Library",
  "pplps" => "Harold P. Furth Plasma Physics Library",
  "pplr" => "Harold P. Furth Plasma Physics Library",
  "pplrdr" => "Harold P. Furth Plasma Physics Library",
  "pplrf" => "Harold P. Furth Plasma Physics Library",
  "pplrr" => "Harold P. Furth Plasma Physics Library",
  "pplt" => "Harold P. Furth Plasma Physics Library",
  "pr" => "Firestone Library",
  "pres" => "Firestone Library",
  "prnc" => "Mudd Manuscript Library",
  "prne" => "Firestone Library",
  "ptt" => "Special Collections",
  "raas" => "Firestone Library",
  "rcpgp" => "ReCAP",
  "rcpjq" => "ReCAP",
  "rcppa" => "ReCAP",
  "rcppb" => "ReCAP",
  "rcppe" => "ReCAP",
  "rcppf" => "ReCAP",
  "rcppg" => "ReCAP",
  "rcpph" => "ReCAP",
  "rcppj" => "ReCAP",
  "rcppk" => "ReCAP",
  "rcppl" => "ReCAP",
  "rcppm" => "ReCAP",
  "rcppn" => "ReCAP",
  "rcppq" => "ReCAP",
  "rcpps" => "ReCAP",
  "rcppt" => "ReCAP",
  "rcppw" => "ReCAP",
  "rcppz" => "ReCAP",
  "rcpqb" => "ReCAP",
  "rcpqk" => "ReCAP",
  "rcpql" => "ReCAP",
  "rcpqv" => "ReCAP",
  "rcpqx" => "ReCAP",
  "rcpxc" => "ReCAP",
  "rcpxg" => "ReCAP",
  "rcpxm" => "ReCAP",
  "rcpxn" => "ReCAP",
  "rcpxp" => "ReCAP",
  "rcpxr" => "ReCAP",
  "rcpxx" => "ReCAP",
  "res" => "Forrestal Annex",
  "resc" => "Firestone Library",
  "reso" => "Firestone Library",
  "rht" => "Special Collections",
  "rrel" => "Firestone Library",
  "rsc" => "Firestone Library",
  "rsd" => "Firestone Library",
  "rse" => "Firestone Library",
  "rsh" => "Firestone Library",
  "rshp" => "Firestone Library",
  "rslv" => "Firestone Library",
  "rsne" => "Firestone Library",
  "rsnst" => "Firestone Library",
  "rsp" => "Firestone Library",
  "rspc" => "Firestone Library",
  "rssa" => "Firestone Library",
  "rsx" => "Firestone Library",
  "sa" => "Marquand Library",
  "saf" => "Marquand Library",
  "safesrf" => "Marquand Library",
  "safi" => "Marquand Library",
  "sams" => "Marquand Library",
  "samsrf" => "Marquand Library",
  "saph" => "Marquand Library",
  "saphrf" => "Marquand Library",
  "sar" => "Marquand Library",
  "sarf" => "Marquand Library",
  "sarp" => "Marquand Library",
  "sat" => "Marquand Library",
  "sawr" => "Marquand Library",
  "sax" => "Marquand Library",
  "sc" => "Firestone Library",
  "scc" => "Engineering Library",
  "sci" => "Lewis Library",
  "scidoc" => "Lewis Library",
  "sciefa" => "Lewis Library",
  "scigis" => "Lewis Library",
  "scigr" => "Lewis Library",
  "scilaf" => "Lewis Library",
  "scilal" => "Lewis Library",
  "scimap" => "Lewis Library",
  "scimc" => "Lewis Library",
  "scimcm" => "Lewis Library",
  "scimic" => "Lewis Library",
  "sciml" => "Lewis Library",
  "scimlrf" => "Lewis Library",
  "scimm" => "Lewis Library",
  "scinb" => "Lewis Library",
  "scipam" => "Lewis Library",
  "sciph" => "Lewis Library",
  "sciref" => "Lewis Library",
  "scirefl" => "Lewis Library",
  "scires" => "Lewis Library",
  "sciresp" => "Lewis Library",
  "scisd" => "Lewis Library",
  "sciss" => "Lewis Library",
  "scith" => "Lewis Library",
  "scsbcul" => "ReCAP",
  "scsbnypl" => "ReCAP",
  "sct" => "Forrestal Annex",
  "sd" => "Firestone Library",
  "sdt" => "Forrestal Annex",
  "se" => "Firestone Library",
  "seref" => "Firestone Library",
  "set" => "Forrestal Annex",
  "sh" => "Firestone Library",
  "shp" => "Firestone Library",
  "shs" => "Firestone Library",
  "sht" => "Forrestal Annex",
  "slav" => "Firestone Library",
  "sne" => "Firestone Library",
  "sp" => "Firestone Library",
  "spc" => "Firestone Library",
  "spia" => "Stokes Library",
  "spiaa" => "Stokes Library",
  "spiai" => "Stokes Library",
  "spiaps" => "Stokes Library",
  "spiarf" => "Stokes Library",
  "spiaws" => "Stokes Library",
  "spir" => "Stokes Library",
  "spl" => "Firestone Library",
  "spr" => "Stokes Library",
  "sprf" => "Stokes Library",
  "sprps" => "Stokes Library",
  "sps" => "Firestone Library",
  "spt" => "Forrestal Annex",
  "srel" => "Firestone Library",
  "srt" => "Forrestal Annex",
  "ssa" => "Firestone Library",
  "ssrc" => "Firestone Library",
  "ssrcdc" => "Firestone Library",
  "ssrcfo" => "Firestone Library",
  "ssrcrr" => "Firestone Library",
  "sss" => "Firestone Library",
  "st" => "Engineering Library",
  "stf" => "Fine Annex",
  "stia" => "Engineering Library",
  "stlo" => "Forrestal Annex",
  "stnb" => "Engineering Library",
  "str" => "Engineering Library",
  "strf" => "Engineering Library",
  "strp" => "Engineering Library",
  "strr" => "Engineering Library",
  "stss" => "Engineering Library",
  "stt" => "Engineering Library",
  "sv" => "Mendel Music Library",
  "svf" => "Mendel Music Library",
  "svl" => "Mendel Music Library",
  "sx" => "Firestone Library",
  "sxfa" => "Firestone Library",
  "sxffi" => "Firestone Library",
  "sxffr" => "Firestone Library",
  "sxfit" => "Firestone Library",
  "sxfrr" => "Firestone Library",
  "t" => "Forrestal Annex",
  "thx" => "Special Collections",
  "thxr" => "Special Collections",
  "trv" => "Firestone Library",
  "ues" => "Architecture Library",
  "uesia" => "Architecture Library",
  "uesla" => "Architecture Library",
  "uesnb" => "Architecture Library",
  "ueso" => "Architecture Library",
  "uesr" => "Architecture Library",
  "uesrf" => "Architecture Library",
  "un" => "Firestone Library",
  "vidl" => "Firestone Library",
  "vidlr" => "Video Library",
  "vrg" => "Special Collections",
  "w" => "Special Collections",
  "wa" => "Special Collections",
  "warf" => "Special Collections",
  "whs" => "Special Collections",
  "wit" => "Special Collections",
  "xl" => "Firestone Library",
  "xlnc" => "Firestone Library",
  "zeis" => "Firestone Library" }
