{ "aas" =>
  "Firestone Library - African American Studies Reading Room (AAS). B-7-B",
  "anxa" => "Forrestal Annex",
  "anxadoc" => "Forrestal Annex - Documents Off-Site Storage",
  "anxafst" => "Forrestal Annex - Temporary",
  "anxb" => "Fine Annex",
  "anxbl" => "Fine Annex - Locked",
  "anxbnc" => "Fine Annex - Non Circulating",
  "ast" => "Engineering Library",
  "astrf" => "Engineering Library - Media Collection",
  "beac" => "Special Collections - Sylvia Beach Collection",
  "c" => "East Asian Library",
  "clas" => "Firestone Library - Classics Collection (Clas)",
  "clasnc" => "Firestone Library - Classics Collection (Clas): Non Circulating",
  "cook" => "Special Collections - Eugene B. Cook Chess Collection",
  "crare" => "East Asian Library - Rare Books",
  "cref" => "East Asian Library - Reference",
  "ctsn" => "Special Collections - Cotsen Children's Library",
  "ctsnrf" => "Special Collections - Cotsen Children's Library: Reference",
  "dc" => "Firestone Library - Cataloging and Metadata Services",
  "dixn" => "Firestone Library - Dixon Books",
  "docs" => "Firestone Library - Government Documents Collection (DOCS)",
  "docsm" =>
  "Firestone Library - Government Documents Collection (DOCS): Microforms",
  "dr" => "Firestone Library - Trustee Reading Room Reference (DR)",
  "dra" => "Firestone Library - Trustee Reading Room Reference (DR): Atlases",
  "drrr" =>
  "Firestone Library - Trustee Reading Room Reference (DR): Ready Reference",
  "dss" => "Firestone Library - Data and Statistical Services (DSS)",
  "ed" => "Special Collections - Edwards Collection",
  "egsr" => "Firestone Library - English Graduate Study Room",
  "elf" => "Online - Online Resources",
  "elf1" => "Online - *ONLINE*",
  "elf2" => "Online - Accessible from Library Web Computers",
  "elf3" => "Online - Online Resources",
  "elf4" => "Online - Dixon eBooks",
  "ex" => "Special Collections - Rare Books",
  "exb" => "Special Collections - Reference Collection",
  "exc" => "Special Collections - J. Harlin O'Connell Collection",
  "exca" => "Special Collections - Laurance Roberts Carton Hunting Collection",
  "exf" => "Special Collections - Kenneth McKenzie Fable Collection",
  "exho" => "Special Collections - Miriam Y. Holden Collection",
  "exi" => "Special Collections - Incunabula Collection",
  "exka" => "Special Collections - Kane Collection",
  "exki" => "Special Collections - Otto von Kienbusch Angling Collection",
  "exl" => "Special Collections - Charles Scribner Collection of Charles Lamb",
  "exme" => "Special Collections - Robert Metzdorf Collection",
  "exov" => "Special Collections - Oversize",
  "expa" => "Special Collections - Morris L. Parrish Collection",
  "exrc" => "Special Collections - Kenneth H. Rockey Angling Collection",
  "exrl" => "Special Collections - Leonard Milberg Coll. of American Poetry",
  "extr" => "Special Collections - Rare Books",
  "extsf" => "Special Collections - Technical Services Reference",
  "exv" => "Special Collections - Harry B. Vandeventer Poetry Collection",
  "exw" => "Special Collections - Orlando F. Weber Coll. of Economic History",
  "f" => "Firestone Library",
  "fac" => "Firestone Library - Faculty Publications",
  "fis" => "Firestone Library - French & Italian Graduate Study Room (FIS)",
  "flm" => "Firestone Library - Microforms Services (Film)",
  "flmb" => "Firestone Library - Microforms Services (FilmB)",
  "flmm" => "Firestone Library - Microforms Services (FilmM)",
  "flmp" => "Firestone Library - Microforms Services (FilmP)",
  "fnc" => "Firestone Library - Non Circulating",
  "ga" => "Special Collections - Graphic Arts Collection",
  "garf" => "Special Collections - Graphic Arts: Reference Collection",
  "gax" => "Special Collections - Graphic Arts Collection",
  "gest" => "East Asian Library - Western",
  "gestf" => "Firestone Library - Microforms Services: East Asian",
  "gestpe" => "East Asian Library - Western Periodicals",
  "gestpr" => "East Asian Library - Permanent Reserve",
  "gestrare" => "East Asian Library - Rare Books",
  "gestrf" => "East Asian Library - Reference",
  "gss" =>
  "Firestone Library - Gender & Sexuality Studies Research Collection (GSS)",
  "gstr" => "East Asian Library - Reserve",
  "gstrf" => "East Asian Library - Reference",
  "hathi" => "Hathi",
  "hathi_temp" => "Hathi temporary",
  "hldn" => "Firestone Library - Miriam Y. Holden Collection",
  "hsvc" => "Special Collections - South East (CTSN)",
  "hsve" => "Special Collections - South East (East Asian)",
  "hsvg" => "Special Collections - South East (GA)",
  "hsvm" => "Special Collections - South East (MSS)",
  "hsvn" => "Special Collections - South East (Num)",
  "hsvp" => "Special Collections - South East (HM)",
  "hsvr" => "Special Collections - South East (RB)",
  "hsvw" => "Special Collections - Rare Books: South East (Western Americana)",
  "htn" => "Special Collections - Laurence Hutton Collection",
  "hyc" => "East Asian Library",
  "hycpe" => "East Asian Library - Periodicals",
  "hycrare" => "East Asian Library - Rare Books",
  "hycrf" => "East Asian Library - Reference",
  "hyg" => "East Asian Library",
  "hygf" => "Forrestal Annex - Microforms Services: East Asian",
  "hyj" => "East Asian Library",
  "hyjpe" => "East Asian Library",
  "hyjrare" => "East Asian Library - Rare Books",
  "hyjrf" => "East Asian Library - Reference",
  "hyk" => "East Asian Library",
  "hykrare" => "East Asian Library - Rare Books",
  "hykrf" => "East Asian Library - Reference",
  "j" => "East Asian Library",
  "jrare" => "East Asian Library - Rare Books",
  "jref" => "East Asian Library - Reference",
  "k" => "East Asian Library",
  "krare" => "East Asian Library - Rare Books",
  "kref" => "East Asian Library - Reference",
  "l" => "Forrestal Annex - Locked Books",
  "law" => "Firestone Library - Law Cases and Statutes",
  "lrc" => "Firestone Library - Circulation Desk",
  "lrcpt" => "Video Library - Permanent Reserve",
  "lrcr" => "Video Library - Reserve",
  "ltop" => "Firestone Library - Computer Media",
  "ltoppiapr" => "Stokes Library - Computer Media",
  "ltopsa" => "Marquand Library - Computer Media",
  "ltopsci" => "Lewis Library - Computer Media",
  "ltopst" => "Engineering Library - Computer Media",
  "map" => "Special Collections - Historic Maps Collection",
  "mlis" => "Mendel Music Library - Audio Visual (Circulation Desk)",
  "mss" => "Special Collections - Manuscripts Collection",
  "mudd" => "Mudd Manuscript Library",
  "mudf" => "Mudd Manuscript Library - Microforms",
  "mus" => "Mendel Music Library",
  "musg" => "Mendel Music Library - Graduate Reserve",
  "musnb" => "Mendel Music Library - New Book Shelf",
  "muspe" => "Mendel Music Library - Bound Periodicals",
  "musr" => "Mendel Music Library - Reserve",
  "musrg" => "Mendel Music Library - Reading Room (2nd Floor)",
  "nec" => "Firestone Library - Near East Collections (NEC)",
  "necnc" => "Firestone Library - Near East Collections (NECnc): Non-Circulating",
  "ned" =>
  "East Asian Library - Near East Department Collection (NED). Jones Hall",
  "new" => "Firestone Library - New Order Request",
  "njpg" => "Special Collections - Special Collections",
  "nr" => "Firestone Library - Newspaper Collection (NR): Recent Issues",
  "num" => "Special Collections - Numismatics Collection",
  "numrf" => "Special Collections - Numismatics Collection: Reference",
  "other" => "Other Location",
  "p" => "Forrestal Annex - Princeton Collection",
  "pb" => "Special Collections - Princeton Borough Collection",
  "piapr" => "Stokes Library",
  "piaprr" => "Stokes Library - Reserve",
  "ppl" => "Harold P. Furth Plasma Physics Library",
  "pplia" => "Harold P. Furth Plasma Physics Library - Indexes",
  "pplla" => "Harold P. Furth Plasma Physics Library - Seminar Room",
  "pplli" => "Harold P. Furth Plasma Physics Library - Office",
  "pplnb" => "Harold P. Furth Plasma Physics Library - New Book Shelf",
  "pplps" => "Harold P. Furth Plasma Physics Library - Periodicals",
  "pplr" => "Harold P. Furth Plasma Physics Library - Reserve",
  "pplrdr" => "Harold P. Furth Plasma Physics Library - Technical Reports",
  "pplrf" => "Harold P. Furth Plasma Physics Library - Reference",
  "pplrr" => "Harold P. Furth Plasma Physics Library - Ready Reference",
  "pplt" => "Harold P. Furth Plasma Physics Library - Theses",
  "pr" => "Firestone Library - Periodicals Collection (PR)",
  "pres" => "Firestone Library - Preservation Office",
  "prnc" => "Mudd Manuscript Library - Princetoniana Collection",
  "prne" => "Firestone Library - Near East Periodicals Collection",
  "ptt" => "Special Collections - Robert Patterson Collection",
  "raas" =>
  "Firestone Library - African American Studies Reading Room (AAS): Reserve. B-7-B",
  "rcpgp" => "ReCAP - Gov Docs",
  "rcpjq" => "ReCAP - JSTOR Restricted",
  "rcppa" => "ReCAP",
  "rcppb" => "ReCAP - Supervised use in Firestone ",
  "rcppe" => "ReCAP - Restricted Backup Copies",
  "rcppf" => "ReCAP - Use in Firestone Microforms only",
  "rcppg" => "ReCAP - Special Collections Off-Site Storage",
  "rcpph" => "ReCAP - Mudd Off-Site Storage",
  "rcppj" => "ReCAP - Marquand Library use only",
  "rcppk" => "ReCAP - Mendel Music Library use only",
  "rcppl" => "ReCAP - East Asian Library use only",
  "rcppm" => "ReCAP - Donald E. Stokes Library use only",
  "rcppn" => "ReCAP - Lewis Library use only",
  "rcppq" => "ReCAP - Plasma Physics use only",
  "rcpps" => "ReCAP - Lewis Library (Rare) use only",
  "rcppt" => "ReCAP - Technical Reports Offsite. Contact techrpts@princeton.edu",
  "rcppw" => "ReCAP - Architecture Library use only",
  "rcppz" => "ReCAP - Marquand Library (Rare) use only",
  "rcpqb" => "ReCAP - Reading Room use only",
  "rcpqk" => "ReCAP - Mendel Music Library use only",
  "rcpql" => "ReCAP - Firestone Microforms or East Asian Library use only",
  "rcpqv" => "ReCAP - Video Collection",
  "rcpqx" => "ReCAP - Broadcast Center use only",
  "rcpxc" => "ReCAP - Cotsen Library Off-Site Storage",
  "rcpxg" => "ReCAP - Graphic Arts Off-Site Storage",
  "rcpxm" => "ReCAP - Manuscripts Off-Site Storage",
  "rcpxn" => "ReCAP - Numismatics Off-Site Storage",
  "rcpxp" => "ReCAP - Historic Maps Off-Site Storage",
  "rcpxr" => "ReCAP - Rare Books Off-Site Storage",
  "rcpxw" => "ReCAP - Western Americana Off-Site Storage",
  "rcpxx" => "ReCAP - Special Items Off-Site Storage",
  "res" => "Forrestal Annex - Reserve",
  "resc" => "Firestone Library - Circulation Desk (3 Hour Reserve)",
  "reso" => "Firestone Library - Circulation Desk (24 Hour Reserve)",
  "rht" => "Special Collections - Robert H. Taylor Collection",
  "rrel" => "Firestone Library - Religion Graduate Study Room (SREL): Reserve",
  "rsc" => "Firestone Library - Classics Graduate Study (SC): Reserve",
  "rsd" =>
  "Firestone Library - Germanic Languages Graduate Study Room (SD): Reserve",
  "rse" => "Firestone Library - English Graduate Study Room (EGSR): Reserve",
  "rsh" => "Firestone Library - History Reference (SH): Reserve",
  "rshp" => "Firestone Library - Politics Graduate Study Room: Reserve",
  "rslv" => "Firestone Library - Russian Studies Reading Room (SLV): Reserve",
  "rsne" => "Firestone Library - Near East Graduate Study Room (SNE): Reserve",
  "rsnst" => "Firestone Library - Anthropology Graduate Study Room: Reserve",
  "rsp" => "Firestone Library - Philosophy Graduate Study Room: Reserve",
  "rspc" =>
  "Firestone Library - Comparative Literature Graduate Study Room (SPC): Reserve",
  "rssa" => "Firestone Library - Sociology Graduate Study Room (SSA): Reserve",
  "rsx" => "Firestone Library - Economics Graduate Study Room: Reserve",
  "sa" => "Marquand Library",
  "saf" => "Marquand Library - Barr Ferree Collection",
  "safesrf" => "Marquand Library - Tang Reading Room",
  "safi" => "Marquand Library - Microforms",
  "sams" => "Marquand Library - Manuscripts",
  "samsrf" => "Marquand Library - Manuscripts: Reference",
  "saph" => "Marquand Library - Photography",
  "saphrf" => "Marquand Library - Photography Reference",
  "sar" => "Marquand Library - Reserve",
  "sarf" => "Marquand Library - Reference",
  "sarp" => "Marquand Library - Storage",
  "sat" => "Marquand Library - Rare Books: Miscellanea",
  "sawr" => "Marquand Library - Workroom",
  "sax" => "Marquand Library - Rare Books",
  "sc" => "Firestone Library - Classics Graduate Study (SC)",
  "scc" => "Engineering Library - Friend Center Archive",
  "sci" => "Lewis Library",
  "scidoc" => "Lewis Library - Documents",
  "sciefa" => "Lewis Library - E/F Oversize and Atlases",
  "scigis" => "Lewis Library - GIS and Digital Map Center",
  "scigr" => "Lewis Library - Graduate Reading",
  "scilaf" => "Lewis Library - Limited Access (Fine Hall Wing A-Floor)",
  "scilal" => "Lewis Library - Limited Access",
  "scimap" => "Lewis Library - Map Collection",
  "scimc" => "Lewis Library - Map Collection. Map Case",
  "scimcm" => "Lewis Library - Map Collection. Map Case Max",
  "scimic" => "Lewis Library - Microforms",
  "sciml" => "Lewis Library - Map Collection. Lateral File",
  "scimlrf" => "Lewis Library - Map Collection. Reference Maps",
  "scimm" => "Lewis Library - Multimedia",
  "scinb" => "Lewis Library - New Book Shelf",
  "scipam" => "Lewis Library - Pamphlet",
  "sciph" => "Lewis Library - Peyton Hall Observing Room",
  "sciref" => "Lewis Library - Reference (Fine Hall Wing)",
  "scirefl" => "Lewis Library - Reference (Information Desk)",
  "scires" => "Lewis Library - Course Reserve",
  "sciresp" => "Lewis Library - Term Loan Reserves",
  "scisd" => "Lewis Library - SuDoc Collection",
  "sciss" => "Lewis Library - Serials (shelved by serial title)",
  "scith" => "Lewis Library - Theses",
  "scsbcul" => "ReCAP",
  "scsbnypl" => "ReCAP",
  "sct" => "Forrestal Annex - Classics Theses",
  "sd" => "Firestone Library - Germanic Languages Graduate Study Room (SD)",
  "sdt" => "Forrestal Annex - German Languages Theses",
  "se" => "Firestone Library - Scribner Library (SE)",
  "seref" => "Firestone Library - Scribner Library (SEREF): Reference",
  "set" => "Forrestal Annex - English Theses",
  "sh" => "Firestone Library - History Reference (SH)",
  "shp" => "Firestone Library - Politics Graduate Study Room",
  "shs" => "Firestone Library - Hellenic Studies Reading Room (SHS)",
  "sht" => "Forrestal Annex - History Theses",
  "slav" => "Firestone Library - Slavic Graduate Study Room (SLAV)",
  "sne" => "Firestone Library - Near East Graduate Study Room (SNE)",
  "sp" => "Firestone Library - Philosophy Graduate Study Room",
  "spc" => "Firestone Library - Comparative Literature Graduate Study Room (SPC)",
  "spia" => "Stokes Library - SPIA",
  "spiaa" => "Stokes Library - Atlases",
  "spiai" => "Stokes Library - Indexes",
  "spiaps" => "Stokes Library - Periodicals",
  "spiarf" => "Stokes Library - Reference",
  "spiaws" => "Stokes Library - Writing Shelf",
  "spir" => "Stokes Library - Reserve",
  "spl" => "Firestone Library - Comparative Literature Graduate Study Room",
  "spr" => "Stokes Library - SPR",
  "sprf" => "Stokes Library - Microforms",
  "sprps" => "Stokes Library - Periodicals",
  "sps" => "Firestone Library - Spanish & Portuguese Graduate Study Room (SPS)",
  "spt" => "Forrestal Annex - Philosophy Theses",
  "srel" => "Firestone Library - Religion Graduate Study (SREL)",
  "srt" => "Forrestal Annex - Romance Theses",
  "ssa" => "Firestone Library - Sociology Graduate Study Room",
  "ssrc" => "Firestone Library - Social Science Reference Center",
  "ssrcdc" =>
  "Firestone Library - Government Documents Collection (DOCS): Census",
  "ssrcfo" =>
  "Firestone Library - Data and Statistical Services (DSS): Stat Abstracts",
  "ssrcrr" =>
  "Firestone Library - Social Science Reference Center: Ready Reference",
  "sss" => "Firestone Library - History Graduate Study (SSS)",
  "st" => "Engineering Library",
  "stf" => "Fine Annex - Microforms",
  "stia" => "Engineering Library - Indexes and Abstracts",
  "stlo" => "Forrestal Annex - Engineering",
  "stnb" => "Engineering Library - New Book Shelf",
  "str" => "Engineering Library",
  "strf" => "Engineering Library - Reference",
  "strp" => "Engineering Library - Term Loan Reserve",
  "strr" => "Engineering Library - Reserve",
  "stss" => "Engineering Library - Serials",
  "stt" => "Engineering Library - Theses",
  "sv" => "Mendel Music Library - Reference",
  "svf" => "Mendel Music Library - Facsimiles",
  "svl" => "Mendel Music Library - Locked",
  "sx" => "Firestone Library - Economics Graduate Study Room",
  "sxfa" => "Firestone Library - Social Science Reference Center: Index Tables",
  "sxffi" => "Firestone Library - Pliny Fisk Library: Financial Serv.",
  "sxffr" => "Firestone Library - Pliny Fisk Library: Federal Reserve",
  "sxfit" => "Firestone Library - Pliny Fisk Library: Index Tables",
  "sxfrr" => "Firestone Library - Pliny Fisk Library: Ready Reference",
  "t" => "Forrestal Annex - Theses Collection",
  "thx" => "Special Collections - Theatre Collection",
  "thxr" => "Special Collections - Theatre Collection: Reference",
  "trv" => "Firestone Library - Travel Guides (TRV)",
  "ues" => "Architecture Library",
  "uesia" => "Architecture Library - Indexes",
  "uesla" => "Architecture Library - Librarian's Office",
  "uesnb" => "Architecture Library - New Book Shelf",
  "ueso" => "Architecture Library - Reserve 3 Hour",
  "uesr" => "Architecture Library - Reserve Closed",
  "uesrf" => "Architecture Library - Reference",
  "un" => "Firestone Library - United Nations Collection",
  "vidl" => "Firestone Library - Circulation Desk",
  "vidlr" => "Video Library - Reserve: Firestone (B-15-H)",
  "vrg" => "Special Collections - Junius Morgan Collection",
  "w" => "Special Collections - John Shaw Pierson Civil War Collection",
  "wa" => "Special Collections - Western Americana Collection",
  "warf" =>
  "Special Collections - Western Americana: Reference Collection (WARF)",
  "whs" => "Special Collections - William H. Scheide Library",
  "wit" => "Special Collections - John Witherspoon Library",
  "xl" => "Firestone Library - Very large books (XL)",
  "xlnc" => "Firestone Library - Very large books (XLnc): Non-Circulating",
  "zeis" => "Firestone Library - Zeiss Wildlife Collection" }
