{"arch$cat"=>"Architecture Cataloging",
 "arch$circ"=>"Architecture Circ",
 "arch$la"=>"Architecture Librarian's Office",
 "arch$newbook"=>"Architecture New Book Shelf",
 "arch$ref"=>"Architecture Reference",
 "arch$res3hr"=>"Architecture Reserve 3-Hour",
 "arch$resclosed"=>"Architecture Reserve Closed",
 "arch$stacks"=>"Architecture Library",
 "arch$UNASSIGNED"=>"Architecture Library",
 "eastasian$acq"=>"East Asian Acquisitions",
 "eastasian$cjk"=>"East Asian Library (Gest)",
 "eastasian$cjkref"=>"East Asian Library (Gest): Reference",
 "eastasian$cat"=>"East Asian Cataloging",
 "eastasian$circ"=>"East Asian Circ",
 "eastasian$gest"=>"East Asian Library (Gest): Western Languages",
 "eastasian$gestpe"=>"East Asian Library (Gest): Western Periodicals",
 "eastasian$gestpr"=>"East Asian Library (Gest): Permanent Reserve",
 "eastasian$wilhelm"=>"East Asian Library (Gest): Wilhelm Collection",
 "eastasian$hy"=>"East Asian Library (Gest)",
 "eastasian$hygf"=>"East Asian Microfilms: Forrestal Annex",
 "eastasian$hype"=>"East Asian Library (Gest): Periodicals",
 "eastasian$hyref"=>"East Asian Library (Gest): Reference ",
 "eastasian$ref"=>"East Asian Library (Gest): Reference",
 "eastasian$reserve"=>"East Asian Library (Gest): Reserve",
 "eastasian$UNASSIGNED"=>"East Asian Library",
 "online$cdl"=>"Electronic Access",
 "online$cdlres"=>"Electronic Access",
 "online$etasrcp"=>"Electronic Access",
 "online$etas"=>"ETAS",
 "online$UNASSIGNED"=>"Electronic Access",
 "engineer$ast"=>"Engineering Library: A",
 "engineer$cat"=>"Engineering Cataloging",
 "engineer$circ"=>"Engineering Circ",
 "engineer$index"=>"Engineering Library: Indexes and Abstracts",
 "engineer$ltop"=>"Engineering Library: Laptops",
 "engineer$media"=>"Engineering Library: Media Collection",
 "engineer$mic"=>"Fine Hall Library: Microforms",
 "engineer$nb"=>"Engineering Library: New Book Shelf",
 "engineer$ref"=>"Engineering Library: Reference",
 "engineer$res"=>"Engineering Library: Reserve",
 "engineer$resterm"=>"Engineering Library: Term Loan Reserve",
 "engineer$scc"=>"Engineering Library: Friend Center Archive",
 "engineer$serial"=>"Engineering Library: Serials",
 "engineer$stacks"=>"Engineering Library",
 "engineer$str"=>"Engineering Library: S",
 "engineer$theses"=>"Engineering Library: Theses",
 "engineer$UNASSIGNED"=>"Engineering Library",
 "firestone$aas"=>"African American Studies Reading Room",
 "firestone$clas"=>"Classics Collection",
 "firestone$clasnc"=>"Classics Collection Non-Circulating",
 "firestone$dixn"=>"Dixon Books",
 "firestone$docs"=>"Government Documents Collection",
 "firestone$docsm"=>"Government Documents Collection Microforms",
 "firestone$dra"=>"Trustee Reading Room Reference: Atlases",
 "firestone$drrr"=>"Trustee Reading Room Reference: Ready Reference",
 "firestone$dr"=>"Trustee Reading Room Reference",
 "firestone$dss"=>"Data and Statistical Services",
 "firestone$egsr"=>"English Graduate Study Room",
 "firestone$fac"=>"Faculty Publications",
 "firestone$cat"=>"Firestone Cataloging",
 "firestone$circ"=>"Firestone Circ",
 "firestone$fis"=>"French & Italian Graduate Study Room",
 "firestone$flmb"=>"Firestone Microforms Services (Film B)",
 "firestone$flm"=>"Firestone Microforms Services (Film)",
 "firestone$flmm"=>"Firestone Microforms Services (Film M)",
 "firestone$flmp"=>"Firestone Microforms Services (Film P)",
 "firestone$noncirc"=>"Firestone Library: Non-Circulating",
 "firestone$gestf"=>"Firestone Microforms Services: East Asian",
 "firestone$gss"=>"Gender & Sexuality Studies Research Collection",
 "firestone$hldn"=>"Miriam Y. Holden Collection",
 "firestone$law"=>"Law Cases and Statutes",
 "firestone$lrc"=>"Video Collection: Firestone Circulation Desk",
 "firestone$lrcpt"=>"Video Library Reserve",
 "firestone$lrcr"=>"Video Library Reserve",
 "firestone$ltop"=>"Computer Media",
 "firestone$necnc"=>"Near East Collections: Non-Circulating",
 "firestone$nec"=>"Near East Collections",
 "firestone$nr"=>"Newspaper Collection: Recent Issues",
 "firestone$pres"=>"Preservation Office: Contact fstcirc@princeton.edu",
 "firestone$prne"=>"Near East Periodicals Collection",
 "firestone$pr"=>"Periodicals Collection",
 "firestone$raas"=>"African American Studies Reading Room: Reserve",
 "firestone$pb"=>"Remote Storage: Supervised use in Firestone A-16-H-3",
 "firestone$pf"=>"Remote Storage: Use in Firestone Microforms only",
 "firestone$res3hr"=>"Firestone Circulation Desk (3 Hour Reserve)",
 "firestone$res24hr"=>"Firestone Circulation Desk (24 Hour Reserve)",
 "firestone$rrel"=>"Religion Graduate Study: Reserve",
 "firestone$rsc"=>"Classics Graduate Study: Reserve",
 "firestone$rsd"=>"Germanic Languages Graduate Study Room: Reserve",
 "firestone$rse"=>"English Graduate Study Room: Reserve",
 "firestone$rsh"=>"History Reference: Reserve",
 "firestone$rslv"=>"Russian Study Room: Reserve",
 "firestone$rsne"=>"Near East Graduate Study Room: Reserve",
 "firestone$rspc"=>"Comparative Literature Graduate Study Room: Reserve",
 "firestone$rssa"=>"Sociology Graduate Study Room: Reserve",
 "firestone$sc"=>"Classics Graduate Study Room",
 "firestone$sd"=>"Germanic Languages Graduate Study Room",
 "firestone$seref"=>"Scribner Room: Reference",
 "firestone$se"=>"Scribner Room",
 "firestone$sh"=>"History Reference",
 "firestone$shs"=>"Hellenic Studies Reading Room",
 "firestone$slav"=>"Slavic Graduate Study Room",
 "firestone$sne"=>"Near East Graduate Study Room",
 "firestone$spc"=>"Comparative Literature Graduate Study Room",
 "firestone$sps"=>"Spanish & Portuguese Graduate Study Room",
 "firestone$srel"=>"Religion Graduate Study Room",
 "firestone$ssa"=>"Sociology Graduate Study Room",
 "firestone$sss"=>"History Graduate Study Room",
 "firestone$stacks"=>"Stacks",
 "firestone$trv"=>"Travel Guides",
 "firestone$UNASSIGNED"=>"Firestone Library",
 "firestone$un"=>"United Nations Collection",
 "firestone$vidl"=>"Video Collection: Firestone Circulation Desk",
 "firestone$vidlr"=>"Video Library Reserve",
 "firestone$xlnc"=>"Very large books: Non-Circulating",
 "firestone$xl"=>"Very large books",
 "firestone$zeiss"=>"Zeiss Wildlife Collection",
 "annex$cat"=>"Annex Cataloging",
 "annex$circ"=>"Annex Circ",
 "annex$doc"=>"Documents Off-Site Storage; contact docstor@Princeton.edu",
 "annex$fst"=>"Annex A, Forrestal",
 "annex$locked"=>"Annex Locked",
 "annex$noncirc"=>"Annex Non-Circulating",
 "annex$princeton"=>"Annex Princeton Collection",
 "annex$reserve"=>"Annex Reserve",
 "annex$sct"=>"Annex Classics Theses",
 "annex$sdt"=>"Annex German Theses",
 "annex$set"=>"Annex English Theses",
 "annex$sht"=>"Annex History Theses",
 "annex$spt"=>"Annex Philosophy Theses",
 "annex$srt"=>"Annex A, Forrestal: Romance Language Theses",
 "annex$stacks"=>"Annex Stacks",
 "annex$t"=>"Annex A, Forrestal: Theses Collection",
 "annex$UNASSIGNED"=>"Forrestal Annex",
 "plasma$la"=>"Harold P. Furth Plasma Physics Library: Seminar Room",
 "plasma$cat"=>"PPL Cataloging",
 "plasma$circ"=>"PPL Circ",
 "plasma$index"=>"Harold P. Furth Plasma Physics Library: Indexes & Abstracts",
 "plasma$li"=>"Harold P. Furth Plasma Physics Library: Office",
 "plasma$nb"=>"Harold P. Furth Plasma Physics Library: New Book Shelf",
 "plasma$ps"=>"Harold P. Furth Plasma Physics Library: Periodicals",
 "plasma$rdr"=>"Harold P. Furth Plasma Physics Library: Tech. Reports",
 "plasma$ref"=>"Harold P. Furth Plasma Physics Library: Reference",
 "plasma$res"=>"Harold P. Furth Plasma Physics Library: Reserve",
 "plasma$rr"=>"Harold P. Furth Plasma Physics Library: Ready Reference",
 "plasma$serial"=>"Harold P. Furth Plasma Physics Library: Serials",
 "plasma$theses"=>"Harold P. Furth Plasma Physics Library: Theses",
 "plasma$stacks"=>"Harold P. Furth Plasma Physics Library",
 "plasma$UNASSIGNED"=>"Harold P. Furth Plasma Physics Library",
 "lewis$cat"=>"Lewis Cataloging",
 "lewis$circ"=>"Lewis Circ",
 "lewis$stacks"=>"Lewis Library (SCI)",
 "lewis$ref"=>"Lewis Library (SCI): Reference (Fine Hall Wing)",
 "lewis$ltop"=>"Lewis Library: Computer Media",
 "lewis$doc"=>"Lewis Library: Documents",
 "lewis$efa"=>"Lewis Library: E/F Oversize and Atlases",
 "lewis$gis"=>"Lewis Library: GIS and Digital Map Center",
 "lewis$gr"=>"Lewis Library: Graduate Reading",
 "lewis$laf"=>"Lewis Library: Limited Access",
 "lewis$lal"=>"Lewis Library: Limited Access",
 "lewis$map"=>"Lewis Library: Map Collection",
 "lewis$mapmc"=>"Lewis Library: Map Collection. Map Case",
 "lewis$mapmcm"=>"Lewis Library: Map Collection. Map Case Max",
 "lewis$mic"=>"Lewis Library (SCI): Microforms",
 "lewis$maplf"=>"Lewis Library: Map Collection. Lateral File",
 "lewis$maplref"=>"Lewis Library: Map Collection. Reference Maps",
 "lewis$media"=>"Lewis Library: Multimedia",
 "lewis$nb"=>"Lewis Library: New Book Shelf",
 "lewis$pam"=>"Lewis Library: Pamphlet",
 "lewis$ph"=>"Lewis Library: Peyton Hall Observing Room",
 "lewis$refid"=>"Lewis Library: Reference (Information Desk)",
 "lewis$res"=>"Lewis Library: Course Reserve",
 "lewis$resterm"=>"Lewis Library: Term Loan Reserves",
 "lewis$sudoc"=>"Lewis Library: SuDoc Collection",
 "lewis$serial"=>"Lewis Library: Serials (shelved by serial title)",
 "lewis$theses"=>"Lewis Library: Theses",
 "lewis$UNASSIGNED"=>"Lewis Library",
 "marquand$ltop"=>"Computer Media: Marquand Library",
 "marquand$cat"=>"Marquand Cataloging",
 "marquand$circ"=>"Marquand Circ",
 "marquand$fesrf"=>"Marquand Library: Tang Reading Room",
 "marquand$mic"=>"Marquand Library: Microforms",
 "marquand$saf"=>"Marquand Library: Barr Ferree Collection",
 "marquand$ms"=>"Marquand Library: Manuscripts",
 "marquand$msref"=>"Marquand Library: Manuscripts: Reference",
 "marquand$ph"=>"Marquand Library: Photography",
 "marquand$phref"=>"Marquand Library: Photography Reference",
 "marquand$ref"=>"Marquand Library: Reference",
 "marquand$res"=>"Marquand Library: Reserve",
 "marquand$rp"=>"Marquand Library: Storage",
 "marquand$t"=>"Marquand Library: Rare Books: Miscellanea",
 "marquand$wr"=>"Marquand Library: Workroom",
 "marquand$x"=>"Marquand Library: Rare Books",
 "marquand$stacks"=>"Marquand Library",
 "marquand$UNASSIGNED"=>"Marquand Library",
 "mendel$av"=>"Mendel Music Library: Audio Visual (Circulation Desk)",
 "mendel$facs"=>"Mendel Music Library: Facsimiles",
 "mendel$locked"=>"Mendel Music Library: Locked",
 "mendel$cat"=>"Mendel Cataloging",
 "mendel$circ"=>"Mendel Circ",
 "mendel$g"=>"Mendel Music Library: Graduate Reserve",
 "mendel$nb"=>"Mendel Music Library: New Book Shelf",
 "mendel$pe"=>"Mendel Music Library: Bound Periodicals",
 "mendel$rg"=>"Mendel Music Library: Reading Room",
 "mendel$res"=>"Mendel Music Library: Reserve",
 "mendel$pk"=>"Remote Storage (ReCAP)",
 "mendel$qk"=>"Remote Storage (ReCAP): Mendel Music Library Use Only",
 "mendel$ref"=>"Mendel Music Library: Reference",
 "mendel$stacks"=>"Stacks",
 "mendel$UNASSIGNED"=>"Mendel Music Library",
 "mudd$cat"=>"muddcat",
 "mudd$circ"=>"Mudd Circ",
 "mudd$mic"=>"Seeley G. Mudd Library: Microforms",
 "mudd$prnc"=>"Princetoniana Collection",
 "mudd$stacks"=>"Seeley G. Mudd Library",
 "mudd$UNASSIGNED"=>"Mudd Manuscript Library",
 "zobsolete$zpickup"=>".Choose a Pickup Location",
 "zobsolete$zelf"=>"Online Resources",
 "zobsolete$zac"=>"American Civilization (AC) OBSOLETE",
 "zobsolete$zanga"=>"OBSOLETE",
 "zobsolete$zangb"=>"OBSOLETE",
 "zobsolete$zarab"=>"Books in Arabic (Arab). Firestone OBSOLETE",
 "zobsolete$zcat"=>"OBS Cataloging",
 "zobsolete$zcirc"=>"OBS Circ",
 "zobsolete$zcomc"=>"Data Statistical Services (DSS). Firestone OBSOLETE",
 "zobsolete$zcp"=>"East Asian Library (Gest): Periodicals OBSOLETE",
 "zobsolete$zdpa"=>"David Paton Collection (DPA). OBSOLETE",
 "zobsolete$zfol"=>"Folio Databases (Fol) OBSOLETE",
 "zobsolete$zgst"=>"East Asian Library (Gest)OBSOLETE",
 "zobsolete$zgstf"=>"Firestone Microforms Services: East Asian OBSOLETE",
 "zobsolete$zgstpe"=>"East Asian Library (Gest): Periodicals OBSOLETE",
 "zobsolete$zgstpr"=>"East Asian Library (Gest): Permanent Reserve OBSOLETE",
 "zobsolete$zhygpe"=>"East Asian Library (Gest): Periodicals OBSOLETE",
 "zobsolete$zhygrare"=>"East Asian Library (Gest): Rare Books OBSOLETE",
 "zobsolete$zindo"=>"Indo-European Philology Coll. (Indo). Firestone OBSOLETE",
 "zobsolete$zir"=>"Industrial Relations Library (IR). Firestone OBSOLETE",
 "zobsolete$zlisc"=>"Spoken Word Recordings (LISC): OBSOLETE",
 "zobsolete$zmagi"=>"Magie Coll. OBSOLETE",
 "zobsolete$zmycn"=>"Mycenaean Collection (Mycen). Firestone OBSOLETE",
 "zobsolete$zned"=>"Near East Department Collection (NED). Jones Hall",
 "zobsolete$znew"=>"New Order Request OBSOLETE",
 "zobsolete$zpf"=>"Pliny Fisk Library (PF). Firestone OBSOLETE",
 "zobsolete$zpiaprpe"=>
  "Donald E. Stokes Library (PIAPR): Periodicals. OBSOLETE",
 "zobsolete$zpic"=>"Princeton Inn College (PIC) OBSOLETE",
 "zobsolete$zpitn"=>"Pitney Collection (PITN). Firestone OBSOLETE",
 "zobsolete$zref"=>"OBS Reference",
 "zobsolete$zrrs"=>
  "Romance Languages Grad.S.Rm (RS):Reserve.Firestone OBSOLETE",
 "zobsolete$zrshp"=>
  "Politics Graduate Study Rm (SHP) Reserve. Firestone OBSOLETE",
 "zobsolete$zrsnst"=>"Anthropology Grad. Study Rm. (SNST): Reserve. OBSOLETE",
 "zobsolete$zrsp"=>"Philosophy GSR (SP): Reserve. Firestone OBSOLETE",
 "zobsolete$zrs"=>
  "Temporarily shelved in Room B-1-M Firestone Library OBSOLETE",
 "zobsolete$zrsss"=>"History of Science Grad S.Rm. (SSS): Reserve. OBSOLETE",
 "zobsolete$zrsx"=>"Economics GSR (SX): Reserve. Firestone OBSOLETE",
 "zobsolete$zsaphwr"=>"Marquand Library (SA) OBSOLETE",
 "zobsolete$zscg"=>"Classics Graduate Study (SCG). OBSOLETE",
 "zobsolete$zscl"=>"Classics Graduate Study (SCL). OBSOLETE",
 "zobsolete$zscp"=>"Classics Graduate Study (SCP). OBSOLETE",
 "zobsolete$zsf"=>"Public Administration Collection (SF). Firestone OBSOLETE",
 "zobsolete$zsgae"=>"Geosciences Library (SG): Atlases A/E OversizeOBSOLETE",
 "zobsolete$zsgca"=>"Geosciences Library (SG): CageOBSOLETE",
 "zobsolete$zsgcd"=>"Geosciences Library (SG): CD-ROMsOBSOLETE",
 "zobsolete$zsgcdt"=>
  "Geosciences Library (SG): Digital Map and GIS CenterOBSOLETE",
 "zobsolete$zsgdi"=>"Geosciences Library (SG): DictionariesOBSOLETE",
 "zobsolete$zsgdo"=>"Geosciences Library (SG): DocumentsOBSOLETE",
 "zobsolete$zsgdr"=>"Geosciences Library (SG): Desk ReferenceOBSOLETE",
 "zobsolete$zsgf"=>"Geosciences Library (SG): MicroformsOBSOLETE",
 "zobsolete$zsg"=>"Geosciences Library (SG) OBSOLETE",
 "zobsolete$zsglo"=>"Geosciences Library (SG): Librarian's OfficeOBSOLETE",
 "zobsolete$zsgma"=>"Geosciences Library (SG): Map CollectionOBSOLETE",
 "zobsolete$zsgrat"=>"Geosciences Library (SG): Reference AtlasesOBSOLETE",
 "zobsolete$zsgr"=>"Geosciences Library (SG): ReserveOBSOLETE",
 "zobsolete$zsgrp"=>"Geosciences Library (SG): Permanent ReserveOBSOLETE",
 "zobsolete$zsgsd"=>"Geosciences Library (SG): SuDocs CollectionOBSOLETE",
 "zobsolete$zsgss"=>
  "Geosciences Library (SG): Serials Shelved by Series TitleOBS",
 "zobsolete$zshp"=>"Politics Graduate Study Room (SHP). Firestone OBSOLETE",
 "zobsolete$zsk"=>"Fine Hall Library (SM)OBSOLETE",
 "zobsolete$zskir"=>"Fine Hall Library (SM): Lower LevelOBSOLETE",
 "zobsolete$zsla"=>"Latin American Graduate Study Room (SLA). OBSOLETE",
 "zobsolete$zsmf"=>"Fine Hall Library (SM): Microforms OBSOLETE",
 "zobsolete$zsm"=>"Fine Hall Library (SM) OBSOLETE",
 "zobsolete$zsmgr"=>"Fine Hall Library (SM): Graduate Reserve OBSOLETE",
 "zobsolete$zsmir"=>
  "Fine Hall Library (SM): Serials (shelved by title) OBSOLETE",
 "zobsolete$zsmla"=>"Fine Hall Library (SM): Limited Access OBSOLETE",
 "zobsolete$zsmo"=>"Fine Hall Library (SM): Oversize OBSOLETE",
 "zobsolete$zsmpa"=>"Fine Hall Library (SM): Pamphlet OBSOLETE",
 "zobsolete$zsmr"=>"Fine Hall Library (SM): Reserve OBSOLETE",
 "zobsolete$zsmsb"=>"Fine Hall Library (SM): Shelved with Books OBSOLETE",
 "zobsolete$zsmt"=>"Fine Hall Library (SM): Theses - Limited Access OBSOLETE",
 "zobsolete$zsoar"=>
  "Astrophysics Library (SO): Peyton Hall Observing Rm OBSOLETE",
 "zobsolete$zso"=>"Astrophysics Library (SO) OBSOLETE",
 "zobsolete$zsocd"=>"Astrophysics Library (SO): CD-ROMs and Videos OBSOLETE",
 "zobsolete$zsoj"=>
  "Astrophysics Library (SO):Serials (shelved by title)OBSOLETE",
 "zobsolete$zsojs"=>
  "Astrophysics Library (SO):Journals, Shelved by TitleOBSOLETE",
 "zobsolete$zsolo"=>"Astrophysics Library (SO): Librarian's Office OBSOLETE",
 "zobsolete$zsonb"=>"Astrophysics Library (SO): Slide Collection OBSOLETE",
 "zobsolete$zsor"=>"Astrophysics Library (SO): Reserve OBSOLETE",
 "zobsolete$zsoric"=>
  "Astrophysics Library (SO):Serials (shelved by title)OBSOLETE",
 "zobsolete$zsoris"=>
  "Astrophysics Library (SO):Serials (shelved by title)OBSOLETE",
 "zobsolete$zsot"=>"Astrophysics Library (SO): Theses OBSOLETE",
 "zobsolete$zsphx"=>"OBSOLETE",
 "zobsolete$zspiap"=>"Donald E. Stokes Library (SPIA): Pamphlets. OBSOLETE",
 "zobsolete$zspl"=>"Comparative Literature GSR. (SPL).Firestone OBSOLETE",
 "zobsolete$zsp"=>"Philosophy Graduate Study Room (SP). Firestone OBSOLETE",
 "zobsolete$zsprcirc"=>"OBSOLETE",
 "zobsolete$zsqc"=>"Chemistry Library (SQ): Closed Stacks OBSOLETE",
 "zobsolete$zsq"=>"Chemistry Library (SQ) OBSOLETE",
 "zobsolete$zsqdr"=>"Chemistry Library (SQ): Desk Reference OBSOLETE",
 "zobsolete$zsqf"=>"Chemistry Library (SQ): Microforms OBSOLETE",
 "zobsolete$zsqp"=>"Chemistry Library (SQ): Permanent Reserve OBSOLETE",
 "zobsolete$zsqpe"=>"Chemistry Library (SQ): Periodicals OBSOLETE",
 "zobsolete$zsqr"=>"Chemistry Library (SQ): Reserve OBSOLETE",
 "zobsolete$zsqt"=>"Chemistry Library (SQ): Theses (Closed Stacks) OBSOLETE",
 "zobsolete$zssrcrr"=>"Social Sci. Ref. Center (SSRC): Ready Ref. OBSOLETE",
 "zobsolete$zssrc"=>"Social Science Reference Center (SSRC). OBSOLETE",
 "zobsolete$zstlo"=>"Annex A, Forrestal (Engineering) OBSOLETE",
 "zobsolete$zstre"=>"Street Library (Street) OBSOLETE",
 "zobsolete$zswf"=>"Psychology Library (SW): Microforms OBSOLETE",
 "zobsolete$zswla"=>"Psychology Library (SW): Limited Access OBSOLETE",
 "zobsolete$zswlo"=>"Psychology Library (SW): Librarian's Office OBSOLETE",
 "zobsolete$zswpe"=>"Psychology Library (SW): Periodicals OBSOLETE",
 "zobsolete$zsw"=>"Psychology Library (SW) OBSOLETE",
 "zobsolete$zswrbb"=>"Psychology Library (SW): Bibliography OBSOLETE",
 "zobsolete$zswrbo"=>"Psychology Library (SW): Biography OBSOLETE",
 "zobsolete$zswrcs"=>"Psychology Library (SW): Career Shelf OBSOLETE",
 "zobsolete$zswrdc"=>"Psychology Library (SW): Dictionaries OBSOLETE",
 "zobsolete$zswrdi"=>"Psychology Library (SW): Drug Information OBSOLETE",
 "zobsolete$zswrdr"=>"Psychology Library (SW): Directories OBSOLETE",
 "zobsolete$zswre"=>"Psychology Library (SW): Encyclopedias OBSOLETE",
 "zobsolete$zswrg"=>"Psychology Library (SW): General Reference OBSOLETE",
 "zobsolete$zswri"=>"Psychology Library (SW): Indexes and Abstracts OBSOLETE",
 "zobsolete$zswr"=>"Psychology Library (SW): Reserve OBSOLETE",
 "zobsolete$zswrt"=>"Psychology Library (SW): Tests and Measurements OBSOLETE",
 "zobsolete$zswrw"=>"Psychology Library (SW): Writing information OBSOLETE",
 "zobsolete$zsx"=>"Economics Graduate Study Room (SX). Firestone OBSOLETE",
 "zobsolete$zsxfa"=>"Social Science Reference (SSRC): Index Tables.F OBSOLETE",
 "zobsolete$zsxffi"=>
  "Pliny Fisk Library (SXF): Financial Serv. Firestone OBSOLETE",
 "zobsolete$zsxffr"=>
  "Pliny Fisk Library (SXF): Federal Reserve.Firestone OBSOLETE",
 "zobsolete$zsxfit"=>
  "Pliny Fisk Library (SXF): Index Tables. Firestone OBSOLETE",
 "zobsolete$zsxf"=>"Pliny Fisk Library (SXF). Firestone OBSOLETE",
 "zobsolete$zsxfrr"=>
  "Pliny Fisk Library (SXF): Ready Reference. FirestoneOBSOLETE",
 "zobsolete$zsy"=>"Near East Collection (SY). Firestone OBSOLETE",
 "zobsolete$zsys"=>"Near East Periodicals (SYS). Firestone OBSOLETE",
 "zobsolete$zsz"=>"Biology Library (SZ) OBSOLETE",
 "zobsolete$zszf"=>"Biology Library (SZ): Microforms OBSOLETE",
 "zobsolete$zszi"=>"Biology Library (SZ): Indexes OBSOLETE",
 "zobsolete$zszli"=>"Biology Library (SZ): Librarian's Office OBSOLETE",
 "zobsolete$zszof"=>"Biology Library (SZ): Library Office OBSOLETE",
 "zobsolete$zszpe"=>"Biology Library (SZ): Periodicals OBSOLETE",
 "zobsolete$zszp"=>"Fine Hall Library (SM): Permanent Reserve OBSOLETE",
 "zobsolete$zszpr"=>"Biology Library (SZ): Periodicals OBSOLETE",
 "zobsolete$zszr"=>"Biology Library (SZ): Reserve OBSOLETE",
 "zobsolete$zszrfa"=>"OBSOLETE",
 "zobsolete$zszsb"=>"Biology Library (SZ): Shelved with Books OBSOLETE",
 "zobsolete$zszstor"=>"Annex, Fine Hall (AnnexB): Biology Storage OBSOLETE",
 "zobsolete$zszt"=>"Biology Library (SZ): Theses OBSOLETE",
 "zobsolete$zuesf"=>"Architecture Library (UES): Microforms OBSOLETE",
 "zobsolete$zuesia"=>"Architecture Library (UES): Indexes OBSOLETE",
 "zobsolete$zuesp"=>"Architecture Library (UES): Permanent Reserve OBSOLETE",
 "zobsolete$zprob"=>"Problem Record OBSOLETE",
 "zobsolete$zssrcdc"=>
  "Government Documents Collection (DOCS). Census. Firestone",
 "zobsolete$zssrcfo"=>
  "Data and Statistical Services (DSS):Stat Abstracts Firestone",
 "zobsolete$UNASSIGNED"=>"Obsolete Locations",
 "zobsolete$zzzX"=>"X Obsolete Locations",
 "zobsolete$zopac"=>"ZOPAC Circulation Desk",
 "recap$gp"=>"Remote Storage: Government Documents",
 "recap$jq"=>"Remote Storage: JSTOR Restricted",
 "recap$pa"=>"Remote Storage",
 "recap$pb"=>"Remote Storage: Supervised use in Firestone A-16-H-3",
 "recap$pe"=>"Remote Storage: Restricted Backup Copies",
 "recap$pf"=>"Remote Storage: Use in Firestone Microforms only",
 "recap$pg"=>"Remote Storage: Off-Site Storage",
 "recap$ph"=>"Mudd Off-Site Storage: Contact mudd@princeton.edu",
 "recap$pj"=>"Remote Storage: Marquand Library use only",
 "recap$pk"=>"Remote Storage: Mendel Music Library use only",
 "recap$pl"=>"Remote Storage: East Asian Library use only",
 "recap$pm"=>"Remote Storage: Donald E. Stokes Library use only",
 "recap$pn"=>"Remote Storage: Lewis Library use only",
 "recap$pq"=>"Remote Storage: Plasma Physics use only",
 "recap$ps"=>"Remote Storage: Lewis Library (Rare) use only",
 "recap$pt"=>"Technical Reports Offsite. Contact techrpts@princeton.edu",
 "recap$pw"=>"Remote Storage: Architecture Library use only",
 "recap$pz"=>"Remote Storage: Marquand Library (Rare) use only",
 "recap$qb"=>"Remote Storage: Reading Room use only",
 "recap$qk"=>"Remote Storage: Mendel Music Library use only",
 "recap$ql"=>"Remote Storage: Firestone Microforms or EAL use only",
 "recap$qv"=>"Remote Storage: Video Collection",
 "recap$qx"=>"Remote Storage: Broadcast Center use only",
 "recap$xc"=>"Cotsen Library Off-Site Storage",
 "recap$xg"=>"Graphic Arts Off-Site Storage",
 "recap$xm"=>"Remote Storage: Manuscripts Off-Site Storage",
 "recap$xn"=>"Numismatics Off-Site Storage",
 "recap$xp"=>"Historic Maps Off-Site Storage",
 "recap$xr"=>"Rare Books Off-Site Storage",
 "recap$xw"=>"Western Americana Off-Site Storage",
 "recap$xx"=>"Special Items Off-Site Storage",
 "recap$cat"=>"rcpcat",
 "recap$circ"=>"ReCAP Circ",
 "recap$UNASSIGNED"=>"ReCAP",
 "resshare$bdirect"=>"Borrow Direct Service. Princeton University Library",
 "resshare$htcsc"=>"ReCAP Partner Materials",
 "resshare$circ"=>"ILL Circ",
 "resshare$UNASSIGNED"=>"Resource Sharing",
 "RES_SHARE$OUT_RS_REQ"=>"Borrowing Resource Sharing Requests",
 "RES_SHARE$IN_RS_REQ"=>"Lending Resource Sharing Requests",
 "rare$beac"=>"Sylvia Beach Collection (Beach)",
 "rare$cat"=>"Rare Books Cataloging",
 "rare$circ"=>"Rare Circ",
 "rare$cook"=>"Eugene B. Cook Chess Collection (Cook)",
 "rare$crare"=>"East Asian Library (Gest) Rare Books",
 "rare$ctsn"=>"Cotsen Children's Library",
 "rare$ctsnrf"=>"Cotsen Children's Library Reference Collection",
 "rare$ed"=>"Edwards Collection",
 "rare$exb"=>"Dulles Reference Collection",
 "rare$exca"=>"Laurance Roberts Carton Hunting Collection",
 "rare$exc"=>"J. Harlin O'Connell Collection",
 "rare$exf"=>"Kenneth McKenzie Fable Collection",
 "rare$exho"=>"Miriam Y. Holden Collection",
 "rare$exi"=>"Incunabula Collection",
 "rare$exka"=>"Kane Collection",
 "rare$exki"=>"Otto von Kienbusch Angling Collection",
 "rare$exl"=>"Charles Scribner Collection of Charles Lamb",
 "rare$exme"=>"Robert Metzdorf Collection",
 "rare$exov"=>"Rare Books Oversize",
 "rare$expa"=>"Morris L. Parrish Collection",
 "rare$ex"=>"Rare Books",
 "rare$exrc"=>"Kenneth H. Rockey Angling Collection",
 "rare$exrl"=>"Leonard Milberg Coll. of American Poetry",
 "rare$extr"=>"Rare Books Transfer",
 "rare$extsf"=>"Technical Services Reference",
 "rare$exv"=>"Harry B. Vandeventer Poetry Collection",
 "rare$exw"=>"Orlando F. Weber Collection of Economic History",
 "rare$ga"=>"Graphic Arts Collection",
 "rare$garf"=>"Graphic Arts Reference Collection",
 "rare$gax"=>"Graphic Arts Collection",
 "rare$gestrare"=>"East Asian Library Rare Books",
 "rare$hsvc"=>"Cotsen South East",
 "rare$hsve"=>"East Asian South East",
 "rare$hsvg"=>"Graphic Arts South East",
 "rare$hsvm"=>"Manuscripts South East",
 "rare$hsvn"=>"Numismatics South East",
 "rare$hsvp"=>"Historic Maps South East",
 "rare$hsvr"=>"Rare Books South East",
 "rare$hsvw"=>"Western Americana South East",
 "rare$htn"=>"Laurence Hutton Collection",
 "rare$hycrare"=>"East Asian Library Rare Books",
 "rare$hyjrare"=>"East Asian Library Rare Books",
 "rare$hykrare"=>"East Asian Library Rare Books",
 "rare$jrare"=>"East Asian Library Rare Books",
 "rare$krare"=>"East Asian Library Rare Books",
 "rare$map"=>"Rare Books Historic Map Collection",
 "rare$mss"=>"Manuscripts Collection",
 "rare$njpg"=>"Special Collections",
 "rare$num"=>"Numismatics Collection",
 "rare$numrf"=>"Numismatics Collection Reference",
 "rare$pb"=>"Princeton Borough Collection",
 "rare$ptt"=>"Robert Patterson Collection",
 "rare$rht"=>"Robert H. Taylor Collection",
 "rare$thxr"=>"Theatre Collection Reference",
 "rare$thx"=>"Theatre Collection",
 "rare$UNASSIGNED"=>"Special Collections",
 "rare$vrg"=>"Junius Morgan Collection",
 "rare$warf"=>"Western Americana Reference Collection",
 "rare$wa"=>"Western Americana Collection",
 "rare$whs"=>"William H. Scheide Library",
 "rare$wit"=>"John Witherspoon Library",
 "rare$w"=>"John Shaw Pierson Civil War Collection",
 "stokes$ltop"=>"Computer Media: Donald E. Stokes Library",
 "stokes$piapr"=>"Donald E. Stokes Library. Wallace Hall",
 "stokes$respiapr"=>"Donald E. Stokes Library: Reserve. Wallace Hall",
 "stokes$spiaa"=>"Donald E. Stokes Library: Atlases. Wallace Hall",
 "stokes$spia"=>"Donald E. Stokes Library. Wallace Hall",
 "stokes$index"=>"Donald E. Stokes Library: Indexes. Wallace Hall",
 "stokes$spiaps"=>"Donald E. Stokes Library: Periodicals. Wallace Hall",
 "stokes$ref"=>"Donald E. Stokes Library: Reference. Wallace Hall",
 "stokes$spiaws"=>"Donald E. Stokes Library: Writing Shelf. Wallace Hall",
 "stokes$spir"=>"Donald E. Stokes Library: Reserve. Wallace Hall",
 "stokes$spr"=>"Donald E. Stokes Library. Wallace Hall",
 "stokes$mic"=>"Donald E. Stokes Library: Microforms. Wallace Hall",
 "stokes$sprps"=>"Donald E. Stokes Library: Periodicals. Wallace Hall",
 "stokes$cat"=>"Stokes Cataloging",
 "stokes$circ"=>"Stokes Circ",
 "stokes$UNASSIGNED"=>"Stokes Library",
 "techserv$acqord"=>"Acqord Orders ACQ",
 "techserv$acqper"=>"Acqord Orders ACQ",
 "techserv$acqser"=>"Acqord Orders ACQ",
 "techserv$acq"=>"Technical Services Acquisitions",
 "techserv$cat"=>"cat Cataloging: Princeton",
 "techserv$dc"=>"Cataloging and Metadata Services",
 "techserv$circ"=>"Tech Services Circ",
 "techserv$UNASSIGNED"=>"Technical Services",
 "scsbcul"=>"ReCAP",
 "scsbnypl"=>"ReCAP"}
