{"arch$cat"=>"Architecture Library",
 "arch$circ"=>"Architecture Library",
 "arch$la"=>"Architecture Library",
 "arch$newbook"=>"Architecture Library",
 "arch$ref"=>"Architecture Library",
 "arch$res3hr"=>"Architecture Library",
 "arch$resclosed"=>"Architecture Library",
 "arch$stacks"=>"Architecture Library",
 "arch$UNASSIGNED"=>"Architecture Library",
 "eastasian$acq"=>"East Asian Library",
 "eastasian$cjk"=>"East Asian Library",
 "eastasian$cjkref"=>"East Asian Library",
 "eastasian$cat"=>"East Asian Library",
 "eastasian$circ"=>"East Asian Library",
 "eastasian$gest"=>"East Asian Library",
 "eastasian$gestpe"=>"East Asian Library",
 "eastasian$gestpr"=>"East Asian Library",
 "eastasian$wilhelm"=>"East Asian Library",
 "eastasian$hy"=>"East Asian Library",
 "eastasian$hygf"=>"East Asian Library",
 "eastasian$hype"=>"East Asian Library",
 "eastasian$hyref"=>"East Asian Library",
 "eastasian$ref"=>"East Asian Library",
 "eastasian$reserve"=>"East Asian Library",
 "eastasian$UNASSIGNED"=>"East Asian Library",
 "online$cdl"=>"Electronic Access",
 "online$cdlres"=>"Electronic Access",
 "online$elf1"=>"Electronic Access",
 "online$elf2"=>"Electronic Access",
 "online$elf3"=>"Electronic Access",
 "online$elf4"=>"Electronic Access",
 "online$etasrcp"=>"Electronic Access",
 "online$etas"=>"Electronic Access",
 "online$UNASSIGNED"=>"Electronic Access",
 "engineer$ast"=>"Engineering Library",
 "engineer$cat"=>"Engineering Library",
 "engineer$circ"=>"Engineering Library",
 "engineer$index"=>"Engineering Library",
 "engineer$ltop"=>"Engineering Library",
 "engineer$media"=>"Engineering Library",
 "engineer$mic"=>"Engineering Library",
 "engineer$nb"=>"Engineering Library",
 "engineer$ref"=>"Engineering Library",
 "engineer$res"=>"Engineering Library",
 "engineer$resterm"=>"Engineering Library",
 "engineer$scc"=>"Engineering Library",
 "engineer$serial"=>"Engineering Library",
 "engineer$stacks"=>"Engineering Library",
 "engineer$str"=>"Engineering Library",
 "engineer$theses"=>"Engineering Library",
 "engineer$UNASSIGNED"=>"Engineering Library",
 "firestone$aas"=>"Firestone Library",
 "firestone$clas"=>"Firestone Library",
 "firestone$clasnc"=>"Firestone Library",
 "firestone$dixn"=>"Firestone Library",
 "firestone$docs"=>"Firestone Library",
 "firestone$docsm"=>"Firestone Library",
 "firestone$dra"=>"Firestone Library",
 "firestone$drrr"=>"Firestone Library",
 "firestone$dr"=>"Firestone Library",
 "firestone$dss"=>"Firestone Library",
 "firestone$egsr"=>"Firestone Library",
 "firestone$fac"=>"Firestone Library",
 "firestone$cat"=>"Firestone Library",
 "firestone$circ"=>"Firestone Library",
 "firestone$fis"=>"Firestone Library",
 "firestone$flmb"=>"Firestone Library",
 "firestone$flm"=>"Firestone Library",
 "firestone$flmm"=>"Firestone Library",
 "firestone$flmp"=>"Firestone Library",
 "firestone$noncirc"=>"Firestone Library",
 "firestone$gestf"=>"Firestone Library",
 "firestone$gp"=>"Firestone Library",
 "firestone$gss"=>"Firestone Library",
 "firestone$hldn"=>"Firestone Library",
 "firestone$law"=>"Firestone Library",
 "firestone$lrc"=>"Firestone Library",
 "firestone$lrcpt"=>"Firestone Library",
 "firestone$lrcr"=>"Firestone Library",
 "firestone$ltop"=>"Firestone Library",
 "firestone$necnc"=>"Firestone Library",
 "firestone$nec"=>"Firestone Library",
 "firestone$nr"=>"Firestone Library",
 "firestone$pres"=>"Firestone Library",
 "firestone$prne"=>"Firestone Library",
 "firestone$pr"=>"Firestone Library",
 "firestone$raas"=>"Firestone Library",
 "firestone$res3hr"=>"Firestone Library",
 "firestone$res24hr"=>"Firestone Library",
 "firestone$rrel"=>"Firestone Library",
 "firestone$rsc"=>"Firestone Library",
 "firestone$rsd"=>"Firestone Library",
 "firestone$rse"=>"Firestone Library",
 "firestone$rsh"=>"Firestone Library",
 "firestone$rslv"=>"Firestone Library",
 "firestone$rsne"=>"Firestone Library",
 "firestone$rspc"=>"Firestone Library",
 "firestone$rssa"=>"Firestone Library",
 "firestone$sc"=>"Firestone Library",
 "firestone$sd"=>"Firestone Library",
 "firestone$seref"=>"Firestone Library",
 "firestone$se"=>"Firestone Library",
 "firestone$sh"=>"Firestone Library",
 "firestone$shs"=>"Firestone Library",
 "firestone$slav"=>"Firestone Library",
 "firestone$sne"=>"Firestone Library",
 "firestone$spc"=>"Firestone Library",
 "firestone$sps"=>"Firestone Library",
 "firestone$srel"=>"Firestone Library",
 "firestone$ssa"=>"Firestone Library",
 "firestone$sss"=>"Firestone Library",
 "firestone$stacks"=>"Firestone Library",
 "firestone$trv"=>"Firestone Library",
 "firestone$UNASSIGNED"=>"Firestone Library",
 "firestone$un"=>"Firestone Library",
 "firestone$vidl"=>"Firestone Library",
 "firestone$vidlr"=>"Firestone Library",
 "firestone$xlnc"=>"Firestone Library",
 "firestone$xl"=>"Firestone Library",
 "firestone$zeiss"=>"Firestone Library",
 "annex$cat"=>"Forrestal Annex",
 "annex$circ"=>"Forrestal Annex",
 "annex$doc"=>"Forrestal Annex",
 "annex$fst"=>"Forrestal Annex",
 "annex$locked"=>"Forrestal Annex",
 "annex$noncirc"=>"Forrestal Annex",
 "annex$princeton"=>"Forrestal Annex",
 "annex$reserve"=>"Forrestal Annex",
 "annex$sct"=>"Forrestal Annex",
 "annex$sdt"=>"Forrestal Annex",
 "annex$set"=>"Forrestal Annex",
 "annex$sht"=>"Forrestal Annex",
 "annex$spt"=>"Forrestal Annex",
 "annex$srt"=>"Forrestal Annex",
 "annex$stacks"=>"Forrestal Annex",
 "annex$t"=>"Forrestal Annex",
 "annex$UNASSIGNED"=>"Forrestal Annex",
 "plasma$la"=>"Harold P. Furth Plasma Physics Library",
 "plasma$cat"=>"Harold P. Furth Plasma Physics Library",
 "plasma$circ"=>"Harold P. Furth Plasma Physics Library",
 "plasma$index"=>"Harold P. Furth Plasma Physics Library",
 "plasma$li"=>"Harold P. Furth Plasma Physics Library",
 "plasma$nb"=>"Harold P. Furth Plasma Physics Library",
 "plasma$ps"=>"Harold P. Furth Plasma Physics Library",
 "plasma$rdr"=>"Harold P. Furth Plasma Physics Library",
 "plasma$ref"=>"Harold P. Furth Plasma Physics Library",
 "plasma$res"=>"Harold P. Furth Plasma Physics Library",
 "plasma$rr"=>"Harold P. Furth Plasma Physics Library",
 "plasma$serial"=>"Harold P. Furth Plasma Physics Library",
 "plasma$theses"=>"Harold P. Furth Plasma Physics Library",
 "plasma$stacks"=>"Harold P. Furth Plasma Physics Library",
 "plasma$UNASSIGNED"=>"Harold P. Furth Plasma Physics Library",
 "lewis$cat"=>"Lewis Library",
 "lewis$circ"=>"Lewis Library",
 "lewis$stacks"=>"Lewis Library",
 "lewis$ref"=>"Lewis Library",
 "lewis$ltop"=>"Lewis Library",
 "lewis$doc"=>"Lewis Library",
 "lewis$efa"=>"Lewis Library",
 "lewis$gis"=>"Lewis Library",
 "lewis$gr"=>"Lewis Library",
 "lewis$laf"=>"Lewis Library",
 "lewis$lal"=>"Lewis Library",
 "lewis$map"=>"Lewis Library",
 "lewis$mapmc"=>"Lewis Library",
 "lewis$mapmcm"=>"Lewis Library",
 "lewis$mic"=>"Lewis Library",
 "lewis$maplf"=>"Lewis Library",
 "lewis$maplref"=>"Lewis Library",
 "lewis$media"=>"Lewis Library",
 "lewis$nb"=>"Lewis Library",
 "lewis$pam"=>"Lewis Library",
 "lewis$ph"=>"Lewis Library",
 "lewis$refid"=>"Lewis Library",
 "lewis$res"=>"Lewis Library",
 "lewis$resterm"=>"Lewis Library",
 "lewis$sudoc"=>"Lewis Library",
 "lewis$serial"=>"Lewis Library",
 "lewis$theses"=>"Lewis Library",
 "lewis$UNASSIGNED"=>"Lewis Library",
 "marquand$ltop"=>"Marquand Library",
 "marquand$cat"=>"Marquand Library",
 "marquand$circ"=>"Marquand Library",
 "marquand$fesrf"=>"Marquand Library",
 "marquand$mic"=>"Marquand Library",
 "marquand$saf"=>"Marquand Library",
 "marquand$ms"=>"Marquand Library",
 "marquand$msref"=>"Marquand Library",
 "marquand$ph"=>"Marquand Library",
 "marquand$phref"=>"Marquand Library",
 "marquand$ref"=>"Marquand Library",
 "marquand$res"=>"Marquand Library",
 "marquand$rp"=>"Marquand Library",
 "marquand$t"=>"Marquand Library",
 "marquand$wr"=>"Marquand Library",
 "marquand$x"=>"Marquand Library",
 "marquand$stacks"=>"Marquand Library",
 "marquand$UNASSIGNED"=>"Marquand Library",
 "mendel$av"=>"Mendel Music Library",
 "mendel$facs"=>"Mendel Music Library",
 "mendel$locked"=>"Mendel Music Library",
 "mendel$cat"=>"Mendel Music Library",
 "mendel$circ"=>"Mendel Music Library",
 "mendel$g"=>"Mendel Music Library",
 "mendel$nb"=>"Mendel Music Library",
 "mendel$pe"=>"Mendel Music Library",
 "mendel$rg"=>"Mendel Music Library",
 "mendel$res"=>"Mendel Music Library",
 "mendel$ref"=>"Mendel Music Library",
 "mendel$stacks"=>"Mendel Music Library",
 "mendel$UNASSIGNED"=>"Mendel Music Library",
 "mudd$cat"=>"Mudd Manuscript Library",
 "mudd$circ"=>"Mudd Manuscript Library",
 "mudd$mic"=>"Mudd Manuscript Library",
 "mudd$prnc"=>"Mudd Manuscript Library",
 "mudd$stacks"=>"Mudd Manuscript Library",
 "mudd$UNASSIGNED"=>"Mudd Manuscript Library",
 "zobsolete$zpickup"=>"Obsolete Locations",
 "zobsolete$zelf"=>"Obsolete Locations",
 "zobsolete$zac"=>"Obsolete Locations",
 "zobsolete$zanga"=>"Obsolete Locations",
 "zobsolete$zangb"=>"Obsolete Locations",
 "zobsolete$zarab"=>"Obsolete Locations",
 "zobsolete$zcat"=>"Obsolete Locations",
 "zobsolete$zcirc"=>"Obsolete Locations",
 "zobsolete$zcomc"=>"Obsolete Locations",
 "zobsolete$zcp"=>"Obsolete Locations",
 "zobsolete$zdpa"=>"Obsolete Locations",
 "zobsolete$zfol"=>"Obsolete Locations",
 "zobsolete$zgst"=>"Obsolete Locations",
 "zobsolete$zgstf"=>"Obsolete Locations",
 "zobsolete$zgstpe"=>"Obsolete Locations",
 "zobsolete$zgstpr"=>"Obsolete Locations",
 "zobsolete$zhygpe"=>"Obsolete Locations",
 "zobsolete$zhygrare"=>"Obsolete Locations",
 "zobsolete$zindo"=>"Obsolete Locations",
 "zobsolete$zir"=>"Obsolete Locations",
 "zobsolete$zlisc"=>"Obsolete Locations",
 "zobsolete$zmagi"=>"Obsolete Locations",
 "zobsolete$zmycn"=>"Obsolete Locations",
 "zobsolete$zned"=>"Obsolete Locations",
 "zobsolete$znew"=>"Obsolete Locations",
 "zobsolete$zpf"=>"Obsolete Locations",
 "zobsolete$zpiaprpe"=>"Obsolete Locations",
 "zobsolete$zpic"=>"Obsolete Locations",
 "zobsolete$zpitn"=>"Obsolete Locations",
 "zobsolete$zref"=>"Obsolete Locations",
 "zobsolete$zrrs"=>"Obsolete Locations",
 "zobsolete$zrshp"=>"Obsolete Locations",
 "zobsolete$zrsnst"=>"Obsolete Locations",
 "zobsolete$zrsp"=>"Obsolete Locations",
 "zobsolete$zrs"=>"Obsolete Locations",
 "zobsolete$zrsss"=>"Obsolete Locations",
 "zobsolete$zrsx"=>"Obsolete Locations",
 "zobsolete$zsaphwr"=>"Obsolete Locations",
 "zobsolete$zscg"=>"Obsolete Locations",
 "zobsolete$zscl"=>"Obsolete Locations",
 "zobsolete$zscp"=>"Obsolete Locations",
 "zobsolete$zsf"=>"Obsolete Locations",
 "zobsolete$zsgae"=>"Obsolete Locations",
 "zobsolete$zsgca"=>"Obsolete Locations",
 "zobsolete$zsgcd"=>"Obsolete Locations",
 "zobsolete$zsgcdt"=>"Obsolete Locations",
 "zobsolete$zsgdi"=>"Obsolete Locations",
 "zobsolete$zsgdo"=>"Obsolete Locations",
 "zobsolete$zsgdr"=>"Obsolete Locations",
 "zobsolete$zsgf"=>"Obsolete Locations",
 "zobsolete$zsg"=>"Obsolete Locations",
 "zobsolete$zsglo"=>"Obsolete Locations",
 "zobsolete$zsgma"=>"Obsolete Locations",
 "zobsolete$zsgrat"=>"Obsolete Locations",
 "zobsolete$zsgr"=>"Obsolete Locations",
 "zobsolete$zsgrp"=>"Obsolete Locations",
 "zobsolete$zsgsd"=>"Obsolete Locations",
 "zobsolete$zsgss"=>"Obsolete Locations",
 "zobsolete$zshp"=>"Obsolete Locations",
 "zobsolete$zsk"=>"Obsolete Locations",
 "zobsolete$zskir"=>"Obsolete Locations",
 "zobsolete$zsla"=>"Obsolete Locations",
 "zobsolete$zsmf"=>"Obsolete Locations",
 "zobsolete$zsm"=>"Obsolete Locations",
 "zobsolete$zsmgr"=>"Obsolete Locations",
 "zobsolete$zsmir"=>"Obsolete Locations",
 "zobsolete$zsmla"=>"Obsolete Locations",
 "zobsolete$zsmo"=>"Obsolete Locations",
 "zobsolete$zsmpa"=>"Obsolete Locations",
 "zobsolete$zsmr"=>"Obsolete Locations",
 "zobsolete$zsmsb"=>"Obsolete Locations",
 "zobsolete$zsmt"=>"Obsolete Locations",
 "zobsolete$zsoar"=>"Obsolete Locations",
 "zobsolete$zso"=>"Obsolete Locations",
 "zobsolete$zsocd"=>"Obsolete Locations",
 "zobsolete$zsoj"=>"Obsolete Locations",
 "zobsolete$zsojs"=>"Obsolete Locations",
 "zobsolete$zsolo"=>"Obsolete Locations",
 "zobsolete$zsonb"=>"Obsolete Locations",
 "zobsolete$zsor"=>"Obsolete Locations",
 "zobsolete$zsoric"=>"Obsolete Locations",
 "zobsolete$zsoris"=>"Obsolete Locations",
 "zobsolete$zsot"=>"Obsolete Locations",
 "zobsolete$zsphx"=>"Obsolete Locations",
 "zobsolete$zspiap"=>"Obsolete Locations",
 "zobsolete$zspl"=>"Obsolete Locations",
 "zobsolete$zsp"=>"Obsolete Locations",
 "zobsolete$zsprcirc"=>"Obsolete Locations",
 "zobsolete$zsqc"=>"Obsolete Locations",
 "zobsolete$zsq"=>"Obsolete Locations",
 "zobsolete$zsqdr"=>"Obsolete Locations",
 "zobsolete$zsqf"=>"Obsolete Locations",
 "zobsolete$zsqp"=>"Obsolete Locations",
 "zobsolete$zsqpe"=>"Obsolete Locations",
 "zobsolete$zsqr"=>"Obsolete Locations",
 "zobsolete$zsqt"=>"Obsolete Locations",
 "zobsolete$zssrcrr"=>"Obsolete Locations",
 "zobsolete$zssrc"=>"Obsolete Locations",
 "zobsolete$zstlo"=>"Obsolete Locations",
 "zobsolete$zstre"=>"Obsolete Locations",
 "zobsolete$zswf"=>"Obsolete Locations",
 "zobsolete$zswla"=>"Obsolete Locations",
 "zobsolete$zswlo"=>"Obsolete Locations",
 "zobsolete$zswpe"=>"Obsolete Locations",
 "zobsolete$zsw"=>"Obsolete Locations",
 "zobsolete$zswrbb"=>"Obsolete Locations",
 "zobsolete$zswrbo"=>"Obsolete Locations",
 "zobsolete$zswrcs"=>"Obsolete Locations",
 "zobsolete$zswrdc"=>"Obsolete Locations",
 "zobsolete$zswrdi"=>"Obsolete Locations",
 "zobsolete$zswrdr"=>"Obsolete Locations",
 "zobsolete$zswre"=>"Obsolete Locations",
 "zobsolete$zswrg"=>"Obsolete Locations",
 "zobsolete$zswri"=>"Obsolete Locations",
 "zobsolete$zswr"=>"Obsolete Locations",
 "zobsolete$zswrt"=>"Obsolete Locations",
 "zobsolete$zswrw"=>"Obsolete Locations",
 "zobsolete$zsx"=>"Obsolete Locations",
 "zobsolete$zsxfa"=>"Obsolete Locations",
 "zobsolete$zsxffi"=>"Obsolete Locations",
 "zobsolete$zsxffr"=>"Obsolete Locations",
 "zobsolete$zsxfit"=>"Obsolete Locations",
 "zobsolete$zsxf"=>"Obsolete Locations",
 "zobsolete$zsxfrr"=>"Obsolete Locations",
 "zobsolete$zsy"=>"Obsolete Locations",
 "zobsolete$zsys"=>"Obsolete Locations",
 "zobsolete$zsz"=>"Obsolete Locations",
 "zobsolete$zszf"=>"Obsolete Locations",
 "zobsolete$zszi"=>"Obsolete Locations",
 "zobsolete$zszli"=>"Obsolete Locations",
 "zobsolete$zszof"=>"Obsolete Locations",
 "zobsolete$zszpe"=>"Obsolete Locations",
 "zobsolete$zszp"=>"Obsolete Locations",
 "zobsolete$zszpr"=>"Obsolete Locations",
 "zobsolete$zszr"=>"Obsolete Locations",
 "zobsolete$zszrfa"=>"Obsolete Locations",
 "zobsolete$zszsb"=>"Obsolete Locations",
 "zobsolete$zszstor"=>"Obsolete Locations",
 "zobsolete$zszt"=>"Obsolete Locations",
 "zobsolete$zuesf"=>"Obsolete Locations",
 "zobsolete$zuesia"=>"Obsolete Locations",
 "zobsolete$zuesp"=>"Obsolete Locations",
 "zobsolete$zprob"=>"Obsolete Locations",
 "zobsolete$zssrcdc"=>"Obsolete Locations",
 "zobsolete$zssrcfo"=>"Obsolete Locations",
 "zobsolete$UNASSIGNED"=>"Obsolete Locations",
 "zobsolete$zzzX"=>"Obsolete Locations",
 "zobsolete$zopac"=>"Obsolete Locations",
 "recap$gp"=>"ReCAP",
 "recap$jq"=>"ReCAP",
 "recap$pa"=>"ReCAP",
 "recap$pb"=>"ReCAP",
 "recap$pe"=>"ReCAP",
 "recap$pf"=>"ReCAP",
 "recap$pg"=>"ReCAP",
 "recap$ph"=>"ReCAP",
 "recap$pj"=>"ReCAP",
 "recap$pk"=>"ReCAP",
 "recap$pl"=>"ReCAP",
 "recap$pm"=>"ReCAP",
 "recap$pn"=>"ReCAP",
 "recap$pq"=>"ReCAP",
 "recap$ps"=>"ReCAP",
 "recap$pt"=>"ReCAP",
 "recap$pw"=>"ReCAP",
 "recap$pz"=>"ReCAP",
 "recap$qb"=>"ReCAP",
 "recap$qk"=>"ReCAP",
 "recap$ql"=>"ReCAP",
 "recap$qv"=>"ReCAP",
 "recap$qx"=>"ReCAP",
 "recap$xc"=>"ReCAP",
 "recap$xg"=>"ReCAP",
 "recap$xm"=>"ReCAP",
 "recap$xn"=>"ReCAP",
 "recap$xp"=>"ReCAP",
 "recap$xr"=>"ReCAP",
 "recap$xw"=>"ReCAP",
 "recap$xx"=>"ReCAP",
 "recap$cat"=>"ReCAP",
 "recap$circ"=>"ReCAP",
 "recap$UNASSIGNED"=>"ReCAP",
 "resshare$bdirect"=>"Resource Sharing",
 "resshare$htcsc"=>"Resource Sharing",
 "resshare$circ"=>"Resource Sharing",
 "resshare$UNASSIGNED"=>"Resource Sharing",
 "RES_SHARE$OUT_RS_REQ"=>"Resource Sharing Library",
 "RES_SHARE$IN_RS_REQ"=>"Resource Sharing Library",
 "rare$beac"=>"Special Collections",
 "rare$cat"=>"Special Collections",
 "rare$circ"=>"Special Collections",
 "rare$cook"=>"Special Collections",
 "rare$crare"=>"Special Collections",
 "rare$ctsn"=>"Special Collections",
 "rare$ctsnrf"=>"Special Collections",
 "rare$ed"=>"Special Collections",
 "rare$exb"=>"Special Collections",
 "rare$exca"=>"Special Collections",
 "rare$exc"=>"Special Collections",
 "rare$exf"=>"Special Collections",
 "rare$exho"=>"Special Collections",
 "rare$exi"=>"Special Collections",
 "rare$exka"=>"Special Collections",
 "rare$exki"=>"Special Collections",
 "rare$exl"=>"Special Collections",
 "rare$exme"=>"Special Collections",
 "rare$exov"=>"Special Collections",
 "rare$expa"=>"Special Collections",
 "rare$ex"=>"Special Collections",
 "rare$exrc"=>"Special Collections",
 "rare$exrl"=>"Special Collections",
 "rare$extr"=>"Special Collections",
 "rare$extsf"=>"Special Collections",
 "rare$exv"=>"Special Collections",
 "rare$exw"=>"Special Collections",
 "rare$ga"=>"Special Collections",
 "rare$garf"=>"Special Collections",
 "rare$gax"=>"Special Collections",
 "rare$gestrare"=>"Special Collections",
 "rare$hsvc"=>"Special Collections",
 "rare$hsve"=>"Special Collections",
 "rare$hsvg"=>"Special Collections",
 "rare$hsvm"=>"Special Collections",
 "rare$hsvn"=>"Special Collections",
 "rare$hsvp"=>"Special Collections",
 "rare$hsvr"=>"Special Collections",
 "rare$hsvw"=>"Special Collections",
 "rare$htn"=>"Special Collections",
 "rare$hycrare"=>"Special Collections",
 "rare$hyjrare"=>"Special Collections",
 "rare$hykrare"=>"Special Collections",
 "rare$jrare"=>"Special Collections",
 "rare$krare"=>"Special Collections",
 "rare$map"=>"Special Collections",
 "rare$mss"=>"Special Collections",
 "rare$njpg"=>"Special Collections",
 "rare$num"=>"Special Collections",
 "rare$numrf"=>"Special Collections",
 "rare$pb"=>"Special Collections",
 "rare$ptt"=>"Special Collections",
 "rare$rht"=>"Special Collections",
 "rare$thxr"=>"Special Collections",
 "rare$thx"=>"Special Collections",
 "rare$UNASSIGNED"=>"Special Collections",
 "rare$vrg"=>"Special Collections",
 "rare$warf"=>"Special Collections",
 "rare$wa"=>"Special Collections",
 "rare$whs"=>"Special Collections",
 "rare$wit"=>"Special Collections",
 "rare$w"=>"Special Collections",
 "stokes$ltop"=>"Stokes Library",
 "stokes$piapr"=>"Stokes Library",
 "stokes$respiapr"=>"Stokes Library",
 "stokes$spiaa"=>"Stokes Library",
 "stokes$spia"=>"Stokes Library",
 "stokes$index"=>"Stokes Library",
 "stokes$spiaps"=>"Stokes Library",
 "stokes$ref"=>"Stokes Library",
 "stokes$spiaws"=>"Stokes Library",
 "stokes$spir"=>"Stokes Library",
 "stokes$spr"=>"Stokes Library",
 "stokes$mic"=>"Stokes Library",
 "stokes$sprps"=>"Stokes Library",
 "stokes$cat"=>"Stokes Library",
 "stokes$circ"=>"Stokes Library",
 "stokes$UNASSIGNED"=>"Stokes Library",
 "techserv$acqord"=>"Technical Services",
 "techserv$acqper"=>"Technical Services",
 "techserv$acqser"=>"Technical Services",
 "techserv$acq"=>"Technical Services",
 "techserv$cat"=>"Technical Services",
 "techserv$dc"=>"Technical Services",
 "techserv$circ"=>"Technical Services",
 "techserv$UNASSIGNED"=>"Technical Services",
 "scsbcul"=>"ReCAP",
 "scsbnypl"=>"ReCAP"}
