{"arch$cat"=>"Architecture Library - Architecture Cataloging",
 "arch$circ"=>"Architecture Library - Architecture Circ",
 "arch$la"=>"Architecture Library - Architecture Librarian's Office",
 "arch$stacks"=>"Architecture Library",
 "arch$newbook"=>"Architecture Library - Architecture New Book Shelf",
 "arch$ref"=>"Architecture Library - Architecture Reference",
 "arch$res3hr"=>"Architecture Library - Architecture Reserve 3-Hour",
 "arch$resclosed"=>"Architecture Library - Architecture Reserve Closed",
 "arch$UNASSIGNED"=>"Architecture Library - ",
 "eastasian$acq"=>"East Asian Library - East Asian Acquisitions",
 "eastasian$cat"=>"East Asian Library - East Asian Cataloging",
 "eastasian$circ"=>"East Asian Library - East Asian Circ",
 "eastasian$cjk"=>"East Asian Library - East Asian Library (Gest)",
 "eastasian$hy"=>"East Asian Library - East Asian Library (Gest): HY",
 "eastasian$hygf"=>
  "East Asian Library - East Asian Microfilms (HYGF): Forrestal Annex",
 "eastasian$cjkref"=>
  "East Asian Library - East Asian Library (Gest): Reference",
 "eastasian$hyref"=>
  "East Asian Library - East Asian Library (Gest): Reference HY",
 "eastasian$gest"=>
  "East Asian Library - East Asian Library (Gest): Western Languages",
 "eastasian$hype"=>
  "East Asian Library - East Asian Library (Gest): Periodicals HY",
 "eastasian$gestpr"=>
  "East Asian Library - East Asian Library (Gest): Permanent Reserve",
 "eastasian$ref"=>"East Asian Library - East Asian Library (Gest): Reference",
 "eastasian$reserve"=>
  "East Asian Library - East Asian Library (Gest): Reserve",
 "eastasian$gestpe"=>
  "East Asian Library - East Asian Library (Gest): Western Periodicals",
 "eastasian$wilhelm"=>
  "East Asian Library - East Asian Library (Gest): Wilhelm Collection",
 "eastasian$UNASSIGNED"=>"East Asian Library - ",
 "online$cdl"=>"Electronic Access - ",
 "online$cdlres"=>"Electronic Access - ",
 "online$elf1"=>"Electronic Access - *ONLINE*",
 "online$elf2"=>"Electronic Access - Accessible from Library Web Computers",
 "online$elf3"=>"Electronic Access - Online Resources",
 "online$elf4"=>"Electronic Access - Dixon eBooks",
 "online$etasrcp"=>"Electronic Access - ",
 "online$etas"=>"Electronic Access - ETAS",
 "online$UNASSIGNED"=>"Electronic Access - ",
 "engineer$stacks"=>"Engineering Library - Engineering Library (ST)",
 "engineer$ast"=>"Engineering Library - Engineering Library (ST): A",
 "engineer$cat"=>"Engineering Library - Engineering Cataloging",
 "engineer$circ"=>"Engineering Library - Engineering Circ",
 "engineer$index"=>
  "Engineering Library - Engineering Library (ST): Indexes and Abstracts",
 "engineer$ltop"=>"Engineering Library - Engineering Library (ST): Laptops",
 "engineer$media"=>
  "Engineering Library - Engineering Library (ST): Media Collection",
 "engineer$mic"=>
  "Engineering Library - Fine Hall Library (SM): Microforms (STF)",
 "engineer$nb"=>
  "Engineering Library - Engineering Library (ST): New Book Shelf",
 "engineer$ref"=>"Engineering Library - Engineering Library (ST): Reference",
 "engineer$res"=>"Engineering Library - Engineering Library (ST): Reserve",
 "engineer$str"=>"Engineering Library - Engineering Library (ST): S",
 "engineer$serial"=>"Engineering Library - Engineering Library (ST): Serials",
 "engineer$resterm"=>
  "Engineering Library - Engineering Library (ST): Term Loan Reserve",
 "engineer$theses"=>"Engineering Library - Engineering Library (ST): Theses",
 "engineer$scc"=>
  "Engineering Library - Engineering Library (ST): Friend Center Archive",
 "engineer$UNASSIGNED"=>"Engineering Library - ",
 "firestone$aas"=>
  "Firestone Library - African American Studies Reading Rm. Firestone B-7-B",
 "firestone$clas"=>"Firestone Library - Classics Collection (Clas). Firestone",
 "firestone$clasnc"=>
  "Firestone Library - Classics Collection. Firestone: Non Circulating (CLASnc)",
 "firestone$dixn"=>"Firestone Library - Dixon Books (Dixon). Firestone 1-7-J",
 "firestone$docs"=>
  "Firestone Library - Government Documents Collection (DOCS). Firestone",
 "firestone$docsm"=>
  "Firestone Library - Government Documents Collection (DOCS). Microforms",
 "firestone$dra"=>
  "Firestone Library - Trustee Reading Room Reference (DR): Atlases. Firestone",
 "firestone$drrr"=>
  "Firestone Library - Trustee Reading Room Reference (DR): Ready Ref. Firestone",
 "firestone$dr"=>
  "Firestone Library - Trustee Reading Room Reference (DR): Firestone",
 "firestone$dss"=>
  "Firestone Library - Data and Statistical Services (DSS). Firestone",
 "firestone$egsr"=>
  "Firestone Library - English Graduate Study Room (EGSR). Firestone",
 "firestone$fac"=>"Firestone Library - Faculty Publications. Firestone",
 "firestone$cat"=>"Firestone Library - Firestone Cataloging",
 "firestone$circ"=>"Firestone Library - Firestone Circ",
 "firestone$stacks"=>"Firestone Library - Firestone Library (F)",
 "firestone$fis"=>
  "Firestone Library - French & Italian Graduate Study Room (FIS). Firestone",
 "firestone$flmb"=>"Firestone Library - Firestone Microforms Services (FilmB)",
 "firestone$flm"=>"Firestone Library - Firestone Microforms Services (Film)",
 "firestone$flmm"=>"Firestone Library - Firestone Microforms Services (FilmM)",
 "firestone$flmp"=>"Firestone Library - Firestone Microforms Services (FilmP)",
 "firestone$noncirc"=>
  "Firestone Library - Firestone Library: Non Circulating (Fnc)",
 "firestone$gestf"=>
  "Firestone Library - Firestone Microforms Services: East Asian",
 "firestone$gss"=>
  "Firestone Library - Gender & Sexuality Studies Research Coll. (GSS). Firestone",
 "firestone$hldn"=>
  "Firestone Library - Miriam Y. Holden Coll. (Holden). Firestone",
 "firestone$law"=>
  "Firestone Library - Law Cases and Statutes (LAW). Firestone",
 "firestone$lrc"=>
  "Firestone Library - Video Collection (LRC): Firestone Circulation Desk",
 "firestone$lrcpt"=>
  "Firestone Library - Video Library Reserve: Firestone (B-2J)",
 "firestone$lrcr"=>
  "Firestone Library - Video Library Reserve: Firestone (B-2J)",
 "firestone$ltop"=>"Firestone Library - Computer Media (LTOP): Firestone",
 "firestone$necnc"=>
  "Firestone Library - Near East Collections. Firestone: Non Circulating (NECnc)",
 "firestone$nec"=>"Firestone Library - Near East Collections (NEC). Firestone",
 "firestone$nr"=>
  "Firestone Library - Newspaper Collection (NR): Recent Issues. Firestone",
 "firestone$pres"=>
  "Firestone Library - Preservation Office: Contact fstcirc@princeton.edu",
 "firestone$prne"=>
  "Firestone Library - Near East Periodicals Collection (PRNE). Firestone",
 "firestone$pr"=>"Firestone Library - Periodicals Collection (PR). Firestone",
 "firestone$raas"=>
  "Firestone Library - African American Studies RR: Reserve. Firestone B-7-B",
 "firestone$gp"=>"Firestone Library - ",
 "firestone$res3hr"=>
  "Firestone Library - Firestone Circulation Desk (3 Hour Reserve).",
 "firestone$res24hr"=>
  "Firestone Library - Firestone Circulation Desk (24 Hour Reserve)",
 "firestone$rrel"=>
  "Firestone Library - Religion Graduate Study (SREL): Reserve. Firestone 2-12-C",
 "firestone$rsc"=>
  "Firestone Library - Classics Graduate Study (SC): Reserve. Firestone 3-15-G",
 "firestone$rsd"=>
  "Firestone Library - Germanic Languages GSR (SD): Reserve. Firestone A-1-C",
 "firestone$rse"=>
  "Firestone Library - English Graduate Study Room (EGSR): Reserve. Firestone B-6-L",
 "firestone$rsh"=>
  "Firestone Library - History Reference (SH): Reserve. Firestone A-7-B",
 "firestone$rslv"=>
  "Firestone Library - Russian Studies Reading Rm. (SLV): Reserve. Firestone B-4-M",
 "firestone$rsne"=>
  "Firestone Library - Near East Grad Study Rm (SNE): Reserve. Firestone A-12-D-1",
 "firestone$rspc"=>
  "Firestone Library - Comparative Lit. GSR (SPC:) Reserve. Firestone B-5-M",
 "firestone$rssa"=>
  "Firestone Library - Sociology Graduate Study Rm. (SSA): Reserve. Firestone C-7-N",
 "firestone$sc"=>
  "Firestone Library - Classics Graduate Study (SC). Firestone 3-15-G",
 "firestone$sd"=>
  "Firestone Library - Germanic Languages Graduate Study Room (SD). Firestone A-1-C",
 "firestone$seref"=>"Firestone Library - Scribner Room (SEREF): Reference",
 "firestone$se"=>"Firestone Library - Scribner Room (SE)",
 "firestone$sh"=>"Firestone Library - History Reference (SH). Firestone A-7-B",
 "firestone$shs"=>
  "Firestone Library - Hellenic Studies Reading Room (SHS). Firestone A-12-D-2",
 "firestone$slav"=>
  "Firestone Library - Slavic Graduate Study Room (SLAV). Firestone",
 "firestone$sne"=>
  "Firestone Library - Near East Graduate Study Room (SNE). Firestone A-12-D-1",
 "firestone$spc"=>
  "Firestone Library - Comparative Literature Graduate Study Room (SPC). Firestone",
 "firestone$sps"=>
  "Firestone Library - Spanish & Portuguese Graduate Study Room (SPS). Firestone",
 "firestone$srel"=>
  "Firestone Library - Religion Graduate Study (SREL). Firestone 2-12-C",
 "firestone$ssa"=>
  "Firestone Library - Sociology Graduate Study Room (SSA). Firestone B-8-J",
 "firestone$sss"=>
  "Firestone Library - History Graduate Study (SSS). Firestone A-8-B",
 "firestone$trv"=>"Firestone Library - Travel Guides. Firestone 1-7-J",
 "firestone$UNASSIGNED"=>"Firestone Library - ",
 "firestone$un"=>
  "Firestone Library - United Nations Collection (UN). Firestone",
 "firestone$vidl"=>
  "Firestone Library - Video Collection (VIDL): Firestone Circulation Desk",
 "firestone$vidlr"=>
  "Firestone Library - Video Library Reserve: Firestone (B-15-H)",
 "firestone$xlnc"=>
  "Firestone Library - Very large books. Firestone: Non Circulating (XLnc)",
 "firestone$xl"=>"Firestone Library - Very large books (XL). Firestone C-N-9",
 "firestone$zeiss"=>
  "Firestone Library - Zeiss Wildlife Collection (Zeiss). Firestone 1-7-J",
 "annex$cat"=>"Forrestal Annex - Annex Cataloging",
 "annex$circ"=>"Forrestal Annex - Annex Circ",
 "annex$sct"=>"Forrestal Annex - Annex Classics Theses",
 "annex$set"=>"Forrestal Annex - Annex English Theses",
 "annex$sdt"=>"Forrestal Annex - Annex German Theses",
 "annex$sht"=>"Forrestal Annex - Annex History Theses",
 "annex$locked"=>"Forrestal Annex - Annex Locked",
 "annex$noncirc"=>"Forrestal Annex - Annex Non-Circ",
 "annex$spt"=>"Forrestal Annex - Annex Philosophy Theses",
 "annex$princeton"=>"Forrestal Annex - Annex Princeton Collection",
 "annex$reserve"=>"Forrestal Annex - Annex Reserve",
 "annex$srt"=>"Forrestal Annex - Annex A, Forrestal: Romance L.Theses (SRT)",
 "annex$stacks"=>"Forrestal Annex - Annex Stacks",
 "annex$t"=>"Forrestal Annex - Annex A, Forrestal: Theses Collection (T)",
 "annex$doc"=>
  "Forrestal Annex - Documents Off-Site Storage; contact docstor@Princeton.edu",
 "annex$fst"=>"Forrestal Annex - Annex A, Forrestal (TEMP)",
 "annex$UNASSIGNED"=>"Forrestal Annex - ",
 "plasma$stacks"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL)",
 "plasma$cat"=>"Harold P. Furth Plasma Physics Library - PPL Cataloging",
 "plasma$circ"=>"Harold P. Furth Plasma Physics Library - PPL Circ",
 "plasma$index"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Indexes",
 "plasma$la"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Seminar Room",
 "plasma$li"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Office",
 "plasma$nb"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): New Book Shelf",
 "plasma$ps"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Periodicals",
 "plasma$rdr"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Tech. Reports",
 "plasma$ref"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Reference",
 "plasma$res"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Reserve",
 "plasma$rr"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Ready Ref.",
 "plasma$serial"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Serials",
 "plasma$theses"=>
  "Harold P. Furth Plasma Physics Library - Harold P. Furth Plasma Physics Library (PPL): Theses",
 "plasma$UNASSIGNED"=>"Harold P. Furth Plasma Physics Library - ",
 "lewis$cat"=>"Lewis Library - Lewis Cataloging",
 "lewis$circ"=>"Lewis Library - Lewis Circ",
 "lewis$ltop"=>"Lewis Library - Lewis Library (SCI): Computer Media",
 "lewis$stacks"=>"Lewis Library - Lewis Library (SCI)",
 "lewis$ref"=>
  "Lewis Library - Lewis Library (SCI): Reference (Fine Hall Wing)",
 "lewis$doc"=>"Lewis Library - Lewis Library (SCI): Documents",
 "lewis$efa"=>"Lewis Library - Lewis Library (SCI): E/F Oversize and Atlases",
 "lewis$gis"=>
  "Lewis Library - Lewis Library (SCI): GIS and Digital Map Center",
 "lewis$gr"=>"Lewis Library - Lewis Library (SCI): Graduate Reading",
 "lewis$laf"=>
  "Lewis Library - Lewis Library (SCI): Limited Access (Fine Hall Wing A-Floor)",
 "lewis$lal"=>"Lewis Library - Lewis Library (SCI): Limited Access",
 "lewis$map"=>"Lewis Library - Lewis Library (SCI): Map Collection",
 "lewis$mapmc"=>
  "Lewis Library - Lewis Library (SCI): Map Collection. Map Case",
 "lewis$mapmcm"=>
  "Lewis Library - Lewis Library (SCI): Map Collection. Map Case Max",
 "lewis$mic"=>"Lewis Library - Lewis Library (SCI): Microforms",
 "lewis$maplf"=>
  "Lewis Library - Lewis Library (SCI): Map Collection. Lateral File",
 "lewis$maplref"=>
  "Lewis Library - Lewis Library (SCI): Map Collection. Reference Maps",
 "lewis$media"=>"Lewis Library - Lewis Library (SCI): Multimedia",
 "lewis$nb"=>"Lewis Library - Lewis Library (SCI): New Book Shelf",
 "lewis$pam"=>"Lewis Library - Lewis Library (SCI): Pamphlet",
 "lewis$ph"=>"Lewis Library - Lewis Library (SCI): Peyton Hall Observing Room",
 "lewis$refid"=>
  "Lewis Library - Lewis Library (SCI): Reference (Information Desk)",
 "lewis$res"=>"Lewis Library - Lewis Library (SCI): Course Reserve",
 "lewis$resterm"=>"Lewis Library - Lewis Library (SCI): Term Loan Reserves",
 "lewis$sudoc"=>"Lewis Library - Lewis Library (SCI): SuDoc Coll.",
 "lewis$serial"=>
  "Lewis Library - Lewis Library (SCI): Serials (shelved by serial title)",
 "lewis$theses"=>"Lewis Library - Lewis Library (SCI): Theses",
 "lewis$UNASSIGNED"=>"Lewis Library - ",
 "marquand$ltop"=>"Marquand Library - Computer Media: Marquand Library (SA)",
 "marquand$cat"=>"Marquand Library - Marquand Cataloging",
 "marquand$circ"=>"Marquand Library - Marquand Circ",
 "marquand$stacks"=>"Marquand Library - Marquand Library (SA)",
 "marquand$fesrf"=>
  "Marquand Library - Marquand Library (SA): Tang Reading Room",
 "marquand$mic"=>"Marquand Library - Marquand Library (SA): Microforms",
 "marquand$saf"=>
  "Marquand Library - Marquand Library (SA): Barr Ferree Collection",
 "marquand$ms"=>"Marquand Library - Marquand Library (SA): Manuscripts",
 "marquand$msref"=>
  "Marquand Library - Marquand Library (SA): Manuscripts: Reference",
 "marquand$ph"=>"Marquand Library - Marquand Library (SAPH): Photography",
 "marquand$phref"=>
  "Marquand Library - Marquand Library (SAPH): Photography Reference",
 "marquand$ref"=>"Marquand Library - Marquand Library (SA): Reference",
 "marquand$res"=>"Marquand Library - Marquand Library (SA): Reserve",
 "marquand$rp"=>"Marquand Library - Marquand Library (SA): Storage",
 "marquand$t"=>
  "Marquand Library - Marquand Library (SA): Rare Books: Miscellanea",
 "marquand$wr"=>"Marquand Library - Marquand Library (SA): Workroom",
 "marquand$x"=>"Marquand Library - Marquand Library (SAX): Rare Books",
 "marquand$UNASSIGNED"=>"Marquand Library - ",
 "mendel$av"=>
  "Mendel Music Library - Mendel Music Library (MUS): Audio Visual (Circulation Desk)",
 "mendel$cat"=>"Mendel Music Library - Mendel Cataloging",
 "mendel$circ"=>"Mendel Music Library - Mendel Circ",
 "mendel$facs"=>
  "Mendel Music Library - Mendel Music Library (SVF): Facsimiles",
 "mendel$locked"=>"Mendel Music Library - Mendel Music Library (SVL): Locked",
 "mendel$stacks"=>"Mendel Music Library - Mendel Music Library (MUS)",
 "mendel$ref"=>"Mendel Music Library - Mendel Music Library (SV): Reference",
 "mendel$g"=>
  "Mendel Music Library - Mendel Music Library (MUS): Graduate Reserve",
 "mendel$nb"=>
  "Mendel Music Library - Mendel Music Library (MUS): New Book Shelf",
 "mendel$pe"=>
  "Mendel Music Library - Mendel Music Library (MUS): Bound Periodicals",
 "mendel$rg"=>
  "Mendel Music Library - Mendel Music Library (SVR): Reading Room (2nd Floor)",
 "mendel$res"=>"Mendel Music Library - Mendel Music Library (MUS): Reserve",
 "mendel$UNASSIGNED"=>"Mendel Music Library - ",
 "mudd$cat"=>"Mudd Manuscript Library - muddcat",
 "mudd$circ"=>"Mudd Manuscript Library - Mudd Circ",
 "mudd$stacks"=>"Mudd Manuscript Library - Seeley G. Mudd Library (Mudd)",
 "mudd$mic"=>
  "Mudd Manuscript Library - Seeley G. Mudd Library (Mudd): Microforms",
 "mudd$prnc"=>"Mudd Manuscript Library - Princetoniana Collection (PRNCR)",
 "mudd$UNASSIGNED"=>"Mudd Manuscript Library - ",
 "zobsolete$zpickup"=>"Obsolete Locations - .Choose a Pickup Location",
 "zobsolete$zelf"=>"Obsolete Locations - Online Resources",
 "zobsolete$zac"=>"Obsolete Locations - American Civilization (AC) OBSOLETE",
 "zobsolete$zanga"=>"Obsolete Locations - OBSOLETE",
 "zobsolete$zangb"=>"Obsolete Locations - OBSOLETE",
 "zobsolete$zarab"=>
  "Obsolete Locations - Books in Arabic (Arab). Firestone OBSOLETE",
 "zobsolete$zcat"=>"Obsolete Locations - OBS Cataloging",
 "zobsolete$zcirc"=>"Obsolete Locations - OBS Circ",
 "zobsolete$zcomc"=>
  "Obsolete Locations - Data Statistical Services (DSS). Firestone OBSOLETE",
 "zobsolete$zcp"=>
  "Obsolete Locations - East Asian Library (Gest): Periodicals OBSOLETE",
 "zobsolete$zdpa"=>
  "Obsolete Locations - David Paton Collection (DPA). OBSOLETE",
 "zobsolete$zfol"=>"Obsolete Locations - Folio Databases (Fol) OBSOLETE",
 "zobsolete$zgst"=>"Obsolete Locations - East Asian Library (Gest)OBSOLETE",
 "zobsolete$zgstf"=>
  "Obsolete Locations - Firestone Microforms Services: East Asian OBSOLETE",
 "zobsolete$zgstpe"=>
  "Obsolete Locations - East Asian Library (Gest): Periodicals OBSOLETE",
 "zobsolete$zgstpr"=>
  "Obsolete Locations - East Asian Library (Gest): Permanent Reserve OBSOLETE",
 "zobsolete$zhygpe"=>
  "Obsolete Locations - East Asian Library (Gest): Periodicals OBSOLETE",
 "zobsolete$zhygrare"=>
  "Obsolete Locations - East Asian Library (Gest): Rare Books OBSOLETE",
 "zobsolete$zindo"=>
  "Obsolete Locations - Indo-European Philology Coll. (Indo). Firestone OBSOLETE",
 "zobsolete$zir"=>
  "Obsolete Locations - Industrial Relations Library (IR). Firestone OBSOLETE",
 "zobsolete$zlisc"=>
  "Obsolete Locations - Spoken Word Recordings (LISC): OBSOLETE",
 "zobsolete$zmagi"=>"Obsolete Locations - Magie Coll. OBSOLETE",
 "zobsolete$zmycn"=>
  "Obsolete Locations - Mycenaean Collection (Mycen). Firestone OBSOLETE",
 "zobsolete$zned"=>
  "Obsolete Locations - Near East Department Collection (NED). Jones Hall",
 "zobsolete$znew"=>"Obsolete Locations - New Order Request OBSOLETE",
 "zobsolete$zpf"=>
  "Obsolete Locations - Pliny Fisk Library (PF). Firestone OBSOLETE",
 "zobsolete$zpiaprpe"=>
  "Obsolete Locations - Donald E. Stokes Library (PIAPR): Periodicals. OBSOLETE",
 "zobsolete$zpic"=>"Obsolete Locations - Princeton Inn College (PIC) OBSOLETE",
 "zobsolete$zpitn"=>
  "Obsolete Locations - Pitney Collection (PITN). Firestone OBSOLETE",
 "zobsolete$zref"=>"Obsolete Locations - OBS Reference",
 "zobsolete$zrrs"=>
  "Obsolete Locations - Romance Languages Grad.S.Rm (RS):Reserve.Firestone OBSOLETE",
 "zobsolete$zrshp"=>
  "Obsolete Locations - Politics Graduate Study Rm (SHP) Reserve. Firestone OBSOLETE",
 "zobsolete$zrsnst"=>
  "Obsolete Locations - Anthropology Grad. Study Rm. (SNST): Reserve. OBSOLETE",
 "zobsolete$zrsp"=>
  "Obsolete Locations - Philosophy GSR (SP): Reserve. Firestone OBSOLETE",
 "zobsolete$zrs"=>
  "Obsolete Locations - Temporarily shelved in Room B-1-M Firestone Library OBSOLETE",
 "zobsolete$zrsss"=>
  "Obsolete Locations - History of Science Grad S.Rm. (SSS): Reserve. OBSOLETE",
 "zobsolete$zrsx"=>
  "Obsolete Locations - Economics GSR (SX): Reserve. Firestone OBSOLETE",
 "zobsolete$zsaphwr"=>"Obsolete Locations - Marquand Library (SA) OBSOLETE",
 "zobsolete$zscg"=>
  "Obsolete Locations - Classics Graduate Study (SCG). OBSOLETE",
 "zobsolete$zscl"=>
  "Obsolete Locations - Classics Graduate Study (SCL). OBSOLETE",
 "zobsolete$zscp"=>
  "Obsolete Locations - Classics Graduate Study (SCP). OBSOLETE",
 "zobsolete$zsf"=>
  "Obsolete Locations - Public Administration Collection (SF). Firestone OBSOLETE",
 "zobsolete$zsgae"=>
  "Obsolete Locations - Geosciences Library (SG): Atlases A/E OversizeOBSOLETE",
 "zobsolete$zsgca"=>
  "Obsolete Locations - Geosciences Library (SG): CageOBSOLETE",
 "zobsolete$zsgcd"=>
  "Obsolete Locations - Geosciences Library (SG): CD-ROMsOBSOLETE",
 "zobsolete$zsgcdt"=>
  "Obsolete Locations - Geosciences Library (SG): Digital Map and GIS CenterOBSOLETE",
 "zobsolete$zsgdi"=>
  "Obsolete Locations - Geosciences Library (SG): DictionariesOBSOLETE",
 "zobsolete$zsgdo"=>
  "Obsolete Locations - Geosciences Library (SG): DocumentsOBSOLETE",
 "zobsolete$zsgdr"=>
  "Obsolete Locations - Geosciences Library (SG): Desk ReferenceOBSOLETE",
 "zobsolete$zsgf"=>
  "Obsolete Locations - Geosciences Library (SG): MicroformsOBSOLETE",
 "zobsolete$zsg"=>"Obsolete Locations - Geosciences Library (SG) OBSOLETE",
 "zobsolete$zsglo"=>
  "Obsolete Locations - Geosciences Library (SG): Librarian's OfficeOBSOLETE",
 "zobsolete$zsgma"=>
  "Obsolete Locations - Geosciences Library (SG): Map CollectionOBSOLETE",
 "zobsolete$zsgrat"=>
  "Obsolete Locations - Geosciences Library (SG): Reference AtlasesOBSOLETE",
 "zobsolete$zsgr"=>
  "Obsolete Locations - Geosciences Library (SG): ReserveOBSOLETE",
 "zobsolete$zsgrp"=>
  "Obsolete Locations - Geosciences Library (SG): Permanent ReserveOBSOLETE",
 "zobsolete$zsgsd"=>
  "Obsolete Locations - Geosciences Library (SG): SuDocs CollectionOBSOLETE",
 "zobsolete$zsgss"=>
  "Obsolete Locations - Geosciences Library (SG): Serials Shelved by Series TitleOBS",
 "zobsolete$zshp"=>
  "Obsolete Locations - Politics Graduate Study Room (SHP). Firestone OBSOLETE",
 "zobsolete$zsk"=>"Obsolete Locations - Fine Hall Library (SM)OBSOLETE",
 "zobsolete$zskir"=>
  "Obsolete Locations - Fine Hall Library (SM): Lower LevelOBSOLETE",
 "zobsolete$zsla"=>
  "Obsolete Locations - Latin American Graduate Study Room (SLA). OBSOLETE",
 "zobsolete$zsmf"=>
  "Obsolete Locations - Fine Hall Library (SM): Microforms OBSOLETE",
 "zobsolete$zsm"=>"Obsolete Locations - Fine Hall Library (SM) OBSOLETE",
 "zobsolete$zsmgr"=>
  "Obsolete Locations - Fine Hall Library (SM): Graduate Reserve OBSOLETE",
 "zobsolete$zsmir"=>
  "Obsolete Locations - Fine Hall Library (SM): Serials (shelved by title) OBSOLETE",
 "zobsolete$zsmla"=>
  "Obsolete Locations - Fine Hall Library (SM): Limited Access OBSOLETE",
 "zobsolete$zsmo"=>
  "Obsolete Locations - Fine Hall Library (SM): Oversize OBSOLETE",
 "zobsolete$zsmpa"=>
  "Obsolete Locations - Fine Hall Library (SM): Pamphlet OBSOLETE",
 "zobsolete$zsmr"=>
  "Obsolete Locations - Fine Hall Library (SM): Reserve OBSOLETE",
 "zobsolete$zsmsb"=>
  "Obsolete Locations - Fine Hall Library (SM): Shelved with Books OBSOLETE",
 "zobsolete$zsmt"=>
  "Obsolete Locations - Fine Hall Library (SM): Theses - Limited Access OBSOLETE",
 "zobsolete$zsoar"=>
  "Obsolete Locations - Astrophysics Library (SO): Peyton Hall Observing Rm OBSOLETE",
 "zobsolete$zso"=>"Obsolete Locations - Astrophysics Library (SO) OBSOLETE",
 "zobsolete$zsocd"=>
  "Obsolete Locations - Astrophysics Library (SO): CD-ROMs and Videos OBSOLETE",
 "zobsolete$zsoj"=>
  "Obsolete Locations - Astrophysics Library (SO):Serials (shelved by title)OBSOLETE",
 "zobsolete$zsojs"=>
  "Obsolete Locations - Astrophysics Library (SO):Journals, Shelved by TitleOBSOLETE",
 "zobsolete$zsolo"=>
  "Obsolete Locations - Astrophysics Library (SO): Librarian's Office OBSOLETE",
 "zobsolete$zsonb"=>
  "Obsolete Locations - Astrophysics Library (SO): Slide Collection OBSOLETE",
 "zobsolete$zsor"=>
  "Obsolete Locations - Astrophysics Library (SO): Reserve OBSOLETE",
 "zobsolete$zsoric"=>
  "Obsolete Locations - Astrophysics Library (SO):Serials (shelved by title)OBSOLETE",
 "zobsolete$zsoris"=>
  "Obsolete Locations - Astrophysics Library (SO):Serials (shelved by title)OBSOLETE",
 "zobsolete$zsot"=>
  "Obsolete Locations - Astrophysics Library (SO): Theses OBSOLETE",
 "zobsolete$zsphx"=>"Obsolete Locations - OBSOLETE",
 "zobsolete$zspiap"=>
  "Obsolete Locations - Donald E. Stokes Library (SPIA): Pamphlets. OBSOLETE",
 "zobsolete$zspl"=>
  "Obsolete Locations - Comparative Literature GSR. (SPL).Firestone OBSOLETE",
 "zobsolete$zsp"=>
  "Obsolete Locations - Philosophy Graduate Study Room (SP). Firestone OBSOLETE",
 "zobsolete$zsprcirc"=>"Obsolete Locations - OBSOLETE",
 "zobsolete$zsqc"=>
  "Obsolete Locations - Chemistry Library (SQ): Closed Stacks OBSOLETE",
 "zobsolete$zsq"=>"Obsolete Locations - Chemistry Library (SQ) OBSOLETE",
 "zobsolete$zsqdr"=>
  "Obsolete Locations - Chemistry Library (SQ): Desk Reference OBSOLETE",
 "zobsolete$zsqf"=>
  "Obsolete Locations - Chemistry Library (SQ): Microforms OBSOLETE",
 "zobsolete$zsqp"=>
  "Obsolete Locations - Chemistry Library (SQ): Permanent Reserve OBSOLETE",
 "zobsolete$zsqpe"=>
  "Obsolete Locations - Chemistry Library (SQ): Periodicals OBSOLETE",
 "zobsolete$zsqr"=>
  "Obsolete Locations - Chemistry Library (SQ): Reserve OBSOLETE",
 "zobsolete$zsqt"=>
  "Obsolete Locations - Chemistry Library (SQ): Theses (Closed Stacks) OBSOLETE",
 "zobsolete$zssrcrr"=>
  "Obsolete Locations - Social Sci. Ref. Center (SSRC): Ready Ref. OBSOLETE",
 "zobsolete$zssrc"=>
  "Obsolete Locations - Social Science Reference Center (SSRC). OBSOLETE",
 "zobsolete$zstlo"=>
  "Obsolete Locations - Annex A, Forrestal (Engineering) OBSOLETE",
 "zobsolete$zstre"=>"Obsolete Locations - Street Library (Street) OBSOLETE",
 "zobsolete$zswf"=>
  "Obsolete Locations - Psychology Library (SW): Microforms OBSOLETE",
 "zobsolete$zswla"=>
  "Obsolete Locations - Psychology Library (SW): Limited Access OBSOLETE",
 "zobsolete$zswlo"=>
  "Obsolete Locations - Psychology Library (SW): Librarian's Office OBSOLETE",
 "zobsolete$zswpe"=>
  "Obsolete Locations - Psychology Library (SW): Periodicals OBSOLETE",
 "zobsolete$zsw"=>"Obsolete Locations - Psychology Library (SW) OBSOLETE",
 "zobsolete$zswrbb"=>
  "Obsolete Locations - Psychology Library (SW): Bibliography OBSOLETE",
 "zobsolete$zswrbo"=>
  "Obsolete Locations - Psychology Library (SW): Biography OBSOLETE",
 "zobsolete$zswrcs"=>
  "Obsolete Locations - Psychology Library (SW): Career Shelf OBSOLETE",
 "zobsolete$zswrdc"=>
  "Obsolete Locations - Psychology Library (SW): Dictionaries OBSOLETE",
 "zobsolete$zswrdi"=>
  "Obsolete Locations - Psychology Library (SW): Drug Information OBSOLETE",
 "zobsolete$zswrdr"=>
  "Obsolete Locations - Psychology Library (SW): Directories OBSOLETE",
 "zobsolete$zswre"=>
  "Obsolete Locations - Psychology Library (SW): Encyclopedias OBSOLETE",
 "zobsolete$zswrg"=>
  "Obsolete Locations - Psychology Library (SW): General Reference OBSOLETE",
 "zobsolete$zswri"=>
  "Obsolete Locations - Psychology Library (SW): Indexes and Abstracts OBSOLETE",
 "zobsolete$zswr"=>
  "Obsolete Locations - Psychology Library (SW): Reserve OBSOLETE",
 "zobsolete$zswrt"=>
  "Obsolete Locations - Psychology Library (SW): Tests and Measurements OBSOLETE",
 "zobsolete$zswrw"=>
  "Obsolete Locations - Psychology Library (SW): Writing information OBSOLETE",
 "zobsolete$zsx"=>
  "Obsolete Locations - Economics Graduate Study Room (SX). Firestone OBSOLETE",
 "zobsolete$zsxfa"=>
  "Obsolete Locations - Social Science Reference (SSRC): Index Tables.F OBSOLETE",
 "zobsolete$zsxffi"=>
  "Obsolete Locations - Pliny Fisk Library (SXF): Financial Serv. Firestone OBSOLETE",
 "zobsolete$zsxffr"=>
  "Obsolete Locations - Pliny Fisk Library (SXF): Federal Reserve.Firestone OBSOLETE",
 "zobsolete$zsxfit"=>
  "Obsolete Locations - Pliny Fisk Library (SXF): Index Tables. Firestone OBSOLETE",
 "zobsolete$zsxf"=>
  "Obsolete Locations - Pliny Fisk Library (SXF). Firestone OBSOLETE",
 "zobsolete$zsxfrr"=>
  "Obsolete Locations - Pliny Fisk Library (SXF): Ready Reference. FirestoneOBSOLETE",
 "zobsolete$zsy"=>
  "Obsolete Locations - Near East Collection (SY). Firestone OBSOLETE",
 "zobsolete$zsys"=>
  "Obsolete Locations - Near East Periodicals (SYS). Firestone OBSOLETE",
 "zobsolete$zsz"=>"Obsolete Locations - Biology Library (SZ) OBSOLETE",
 "zobsolete$zszf"=>
  "Obsolete Locations - Biology Library (SZ): Microforms OBSOLETE",
 "zobsolete$zszi"=>
  "Obsolete Locations - Biology Library (SZ): Indexes OBSOLETE",
 "zobsolete$zszli"=>
  "Obsolete Locations - Biology Library (SZ): Librarian's Office OBSOLETE",
 "zobsolete$zszof"=>
  "Obsolete Locations - Biology Library (SZ): Library Office OBSOLETE",
 "zobsolete$zszpe"=>
  "Obsolete Locations - Biology Library (SZ): Periodicals OBSOLETE",
 "zobsolete$zszp"=>
  "Obsolete Locations - Fine Hall Library (SM): Permanent Reserve OBSOLETE",
 "zobsolete$zszpr"=>
  "Obsolete Locations - Biology Library (SZ): Periodicals OBSOLETE",
 "zobsolete$zszr"=>
  "Obsolete Locations - Biology Library (SZ): Reserve OBSOLETE",
 "zobsolete$zszrfa"=>"Obsolete Locations - OBSOLETE",
 "zobsolete$zszsb"=>
  "Obsolete Locations - Biology Library (SZ): Shelved with Books OBSOLETE",
 "zobsolete$zszstor"=>
  "Obsolete Locations - Annex, Fine Hall (AnnexB): Biology Storage OBSOLETE",
 "zobsolete$zszt"=>
  "Obsolete Locations - Biology Library (SZ): Theses OBSOLETE",
 "zobsolete$zuesf"=>
  "Obsolete Locations - Architecture Library (UES): Microforms OBSOLETE",
 "zobsolete$zuesia"=>
  "Obsolete Locations - Architecture Library (UES): Indexes OBSOLETE",
 "zobsolete$zuesp"=>
  "Obsolete Locations - Architecture Library (UES): Permanent Reserve OBSOLETE",
 "zobsolete$zprob"=>"Obsolete Locations - Problem Record OBSOLETE",
 "zobsolete$zssrcdc"=>
  "Obsolete Locations - Government Documents Collection (DOCS). Census. Firestone",
 "zobsolete$zssrcfo"=>
  "Obsolete Locations - Data and Statistical Services (DSS):Stat Abstracts Firestone",
 "zobsolete$UNASSIGNED"=>"Obsolete Locations - ",
 "zobsolete$zzzX"=>"Obsolete Locations - X Obsolete Locations",
 "zobsolete$zopac"=>"Obsolete Locations - ZOPAC Circulation Desk",
 "recap$gp"=>"ReCAP - RECAP: Government Documents",
 "recap$jq"=>"ReCAP - RCPJQ RECAP JSTOR Restricted",
 "recap$pa"=>"ReCAP - RECAP",
 "recap$pb"=>"ReCAP - RECAP: Supervised use in Firestone A-16-H-3",
 "recap$pe"=>"ReCAP - RCPPE Restricted Backup Copies",
 "recap$pf"=>"ReCAP - RECAP: Use in Firestone Microforms only",
 "recap$pg"=>"ReCAP - RBSC Off-Site Storage",
 "recap$ph"=>"ReCAP - Mudd Off-Site Storage: Contact mudd@princeton.edu",
 "recap$pj"=>"ReCAP - RECAP: Marquand Library use only",
 "recap$pk"=>"ReCAP - RECAP: Mendel Music Library use only",
 "recap$pl"=>"ReCAP - RECAP: East Asian Library use only",
 "recap$pm"=>"ReCAP - RECAP: Donald E. Stokes Library use only",
 "recap$pn"=>"ReCAP - RECAP: Lewis Library use only",
 "recap$pq"=>"ReCAP - RECAP: Plasma Physics use only",
 "recap$ps"=>"ReCAP - RECAP: Lewis Library (Rare) use only",
 "recap$pt"=>
  "ReCAP - Technical Reports Offsite. Contact techrpts@princeton.edu",
 "recap$pw"=>"ReCAP - RECAP: Architecture Library use only",
 "recap$pz"=>"ReCAP - RECAP: Marquand Library (Rare) use only",
 "recap$qb"=>"ReCAP - RECAP: Reading Room use only",
 "recap$qk"=>"ReCAP - RECAP: Mendel Music Library use only",
 "recap$ql"=>"ReCAP - RECAP: Firestone Microforms or EAL use only",
 "recap$qv"=>"ReCAP - RECAP: Video Collection",
 "recap$qx"=>"ReCAP - RECAP: Broadcast Center use only",
 "recap$xc"=>"ReCAP - Cotsen Lib. Off-Site Storage",
 "recap$xg"=>"ReCAP - Graphic Arts Off-Site Storage",
 "recap$xm"=>"ReCAP - Manuscripts Off-Site Storage",
 "recap$xn"=>"ReCAP - Numismatics Off-Site Storage",
 "recap$xp"=>"ReCAP - Historic Maps Off-Site Storage",
 "recap$xr"=>"ReCAP - Rare Books Off-Site Storage",
 "recap$xw"=>"ReCAP - Western Americana Off-Site Storage",
 "recap$xx"=>"ReCAP - Special Items Off-Site Storage",
 "recap$cat"=>"ReCAP - rcpcat",
 "recap$circ"=>"ReCAP - ReCAP Circ",
 "recap$UNASSIGNED"=>"ReCAP - ",
 "resshare$bdirect"=>
  "Resource Sharing - Borrow Direct Service. Princeton University Library",
 "resshare$htcsc"=>"Resource Sharing - ReCAP Partner Materials",
 "resshare$circ"=>"Resource Sharing - ILL Circ",
 "resshare$UNASSIGNED"=>"Resource Sharing - ",
 "RES_SHARE$OUT_RS_REQ"=>"Resource Sharing Library - ",
 "RES_SHARE$IN_RS_REQ"=>"Resource Sharing Library - ",
 "rare$beac"=>"Special Collections - Sylvia Beach Collection (Beach)",
 "rare$cat"=>"Special Collections - Rare Books Cataloging",
 "rare$circ"=>"Special Collections - Rare Circ",
 "rare$cook"=>"Special Collections - Eugene B. Cook Chess Collection (Cook)",
 "rare$crare"=>"Special Collections - East Asian Library (Gest) Rare Books",
 "rare$ctsn"=>"Special Collections - Cotsen Children's Library",
 "rare$ctsnrf"=>
  "Special Collections - Cotsen Children's Library Reference Collection",
 "rare$ed"=>"Special Collections - Edwards Collection",
 "rare$exb"=>"Special Collections - Dulles Reference Collection",
 "rare$exca"=>
  "Special Collections - Laurance Roberts Carton Hunting Collection",
 "rare$exc"=>"Special Collections - J. Harlin O'Connell Collection",
 "rare$exf"=>"Special Collections - Kenneth McKenzie Fable Collection",
 "rare$exho"=>"Special Collections - Miriam Y. Holden Collection",
 "rare$exi"=>"Special Collections - Incunabula Collection",
 "rare$exka"=>"Special Collections - Kane Collection",
 "rare$exki"=>"Special Collections - Otto von Kienbusch Angling Collection",
 "rare$exl"=>
  "Special Collections - Charles Scribner Collection of Charles Lamb",
 "rare$exme"=>"Special Collections - Robert Metzdorf Collection",
 "rare$exov"=>"Special Collections - Rare Books Oversize",
 "rare$expa"=>"Special Collections - Morris L. Parrish Collection",
 "rare$ex"=>"Special Collections - Rare Books",
 "rare$exrc"=>"Special Collections - Kenneth H. Rockey Angling Collection",
 "rare$exrl"=>"Special Collections - Leonard Milberg Coll. of American Poetry",
 "rare$extr"=>"Special Collections - Rare Books Transfer",
 "rare$extsf"=>"Special Collections - Technical Services Reference",
 "rare$exv"=>"Special Collections - Harry B. Vandeventer Poetry Collection",
 "rare$exw"=>
  "Special Collections - Orlando F. Weber Collection of Economic History",
 "rare$ga"=>"Special Collections - Graphic Arts Collection",
 "rare$garf"=>"Special Collections - Graphic Arts Reference Collection",
 "rare$gax"=>"Special Collections - Graphic Arts Collection",
 "rare$gestrare"=>"Special Collections - East Asian Library Rare Books",
 "rare$hsvc"=>"Special Collections - Cotsen South East",
 "rare$hsve"=>"Special Collections - East Asian South East",
 "rare$hsvg"=>"Special Collections - Graphic Arts South East",
 "rare$hsvm"=>"Special Collections - Manuscripts South East",
 "rare$hsvn"=>"Special Collections - Numismatics South East",
 "rare$hsvp"=>"Special Collections - Historic Maps South East",
 "rare$hsvr"=>"Special Collections - Rare Books South East",
 "rare$hsvw"=>"Special Collections - Western Americana South East",
 "rare$htn"=>"Special Collections - Laurence Hutton Collection",
 "rare$hycrare"=>"Special Collections - East Asian Library Rare Books",
 "rare$hyjrare"=>"Special Collections - East Asian Library Rare Books",
 "rare$hykrare"=>"Special Collections - East Asian Library Rare Books",
 "rare$jrare"=>"Special Collections - East Asian Library Rare Books",
 "rare$krare"=>"Special Collections - East Asian Library Rare Books",
 "rare$map"=>"Special Collections - Rare Books Historic Map Collection",
 "rare$mss"=>"Special Collections - Manuscripts Collection",
 "rare$njpg"=>"Special Collections",
 "rare$num"=>"Special Collections - Numismatics Collection",
 "rare$numrf"=>"Special Collections - Numismatics Collection Reference",
 "rare$pb"=>"Special Collections - Princeton Borough Collection",
 "rare$ptt"=>"Special Collections - Robert Patterson Collection",
 "rare$rht"=>"Special Collections - Robert H. Taylor Collection",
 "rare$thxr"=>"Special Collections - Theatre Collection Reference",
 "rare$thx"=>"Special Collections - Theatre Collection",
 "rare$UNASSIGNED"=>"Special Collections - ",
 "rare$vrg"=>"Special Collections - Junius Morgan Collection",
 "rare$warf"=>"Special Collections - Western Americana Reference Collection",
 "rare$wa"=>"Special Collections - Western Americana Collection",
 "rare$whs"=>"Special Collections - William H. Scheide Library",
 "rare$wit"=>"Special Collections - John Witherspoon Library",
 "rare$w"=>"Special Collections - John Shaw Pierson Civil War Collection",
 "stokes$ltop"=>
  "Stokes Library - Computer Media: Donald E. Stokes Library (PIAPR)",
 "stokes$piapr"=>
  "Stokes Library - Donald E. Stokes Library (PIAPR). Wallace Hall",
 "stokes$respiapr"=>
  "Stokes Library - Donald E. Stokes Library (SPR): Reserve. Wallace Hall",
 "stokes$spiaa"=>
  "Stokes Library - Donald E. Stokes Library (SPIA): Atlases. Wallace Hall",
 "stokes$spia"=>
  "Stokes Library - Donald E. Stokes Library (SPIA). Wallace Hall",
 "stokes$index"=>
  "Stokes Library - Donald E. Stokes Library (SPIA): Indexes. Wallace Hall",
 "stokes$spiaps"=>
  "Stokes Library - Donald E. Stokes Library (SPIA): Periodicals. Wallace Hall",
 "stokes$ref"=>
  "Stokes Library - Donald E. Stokes Library (SPIA): Reference. Wallace Hall",
 "stokes$spiaws"=>
  "Stokes Library - Donald E. Stokes Library (SPIA): Writing Shelf. Wallace Hall",
 "stokes$spir"=>
  "Stokes Library - Donald E. Stokes Library (SPIA): Reserve. Wallace Hall",
 "stokes$spr"=>"Stokes Library - Donald E. Stokes Library (SPR). Wallace Hall",
 "stokes$mic"=>
  "Stokes Library - Donald E. Stokes Library (SPR): Microforms. Wallace Hall",
 "stokes$sprps"=>
  "Stokes Library - Donald E. Stokes Library (SPR): Periodicals. Wallace Hall",
 "stokes$cat"=>"Stokes Library - Stokes Cataloging",
 "stokes$circ"=>"Stokes Library - Stokes Circ",
 "stokes$UNASSIGNED"=>"Stokes Library - ",
 "techserv$acqord"=>"Technical Services - Acqord Orders ACQ",
 "techserv$acqper"=>"Technical Services - Acqord Orders ACQ",
 "techserv$acqser"=>"Technical Services - Acqord Orders ACQ",
 "techserv$cat"=>"Technical Services - cat Cataloging: Princeton",
 "techserv$dc"=>"Technical Services - Cataloging and Metadata Services (DC)",
 "techserv$acq"=>"Technical Services - Technical Services Acquisitions",
 "techserv$circ"=>"Technical Services - Tech Services Circ",
 "techserv$UNASSIGNED"=>"Technical Services - ",
 "scsbcul"=>"ReCAP",
 "scsbnypl"=>"ReCAP"}
