{"annex$doc" => "Forrestal Annex",
 "annex$fst" => "Forrestal Annex",
 "annex$locked" => "Forrestal Annex",
 "annex$noncirc" => "Forrestal Annex",
 "annex$princeton" => "Forrestal Annex",
 "annex$reserve" => "Forrestal Annex",
 "annex$sct" => "Forrestal Annex",
 "annex$sdt" => "Forrestal Annex",
 "annex$set" => "Forrestal Annex",
 "annex$sht" => "Forrestal Annex",
 "annex$spt" => "Forrestal Annex",
 "annex$srt" => "Forrestal Annex",
 "annex$stacks" => "Forrestal Annex",
 "annex$t" => "Forrestal Annex",
 "annex$UNASSIGNED" => "Forrestal Annex",
 "arch$la" => "Architecture Library",
 "arch$newbook" => "Architecture Library",
 "arch$pw" => "Architecture Library",
 "arch$ref" => "Architecture Library",
 "arch$res3hr" => "Architecture Library",
 "arch$resclosed" => "Architecture Library",
 "arch$stacks" => "Architecture Library",
 "arch$UNASSIGNED" => "Architecture Library",
 "eastasian$tech" => "East Asian Library",
 "eastasian$cjk" => "East Asian Library",
 "eastasian$cjkref" => "East Asian Library",
 "eastasian$gest" => "East Asian Library",
 "eastasian$gestpe" => "East Asian Library",
 "eastasian$gestpr" => "East Asian Library",
 "eastasian$hy" => "East Asian Library",
 "eastasian$hygf" => "East Asian Library",
 "eastasian$hype" => "East Asian Library",
 "eastasian$hyref" => "East Asian Library",
 "eastasian$pl" => "East Asian Library",
 "eastasian$ql" => "East Asian Library",
 "eastasian$ref" => "East Asian Library",
 "eastasian$reserve" => "East Asian Library",
 "eastasian$UNASSIGNED" => "East Asian Library",
 "eastasian$wilhelm" => "East Asian Library",
 "engineer$tech" => "Engineering Library",
 "engineer$ast" => "Engineering Library",
 "engineer$index" => "Engineering Library",
 "engineer$ltop" => "Engineering Library",
 "engineer$media" => "Engineering Library",
 "engineer$mic" => "Engineering Library",
 "engineer$nb" => "Engineering Library",
 "engineer$pt" => "Engineering Library",
 "engineer$ref" => "Engineering Library",
 "engineer$res" => "Engineering Library",
 "engineer$resterm" => "Engineering Library",
 "engineer$scc" => "Engineering Library",
 "engineer$serial" => "Engineering Library",
 "engineer$stacks" => "Engineering Library",
 "engineer$str" => "Engineering Library",
 "engineer$theses" => "Engineering Library",
 "engineer$UNASSIGNED" => "Engineering Library",
 "firestone$aas" => "Firestone Library",
 "firestone$clas" => "Firestone Library",
 "firestone$clasnc" => "Firestone Library",
 "firestone$dixn" => "Firestone Library",
 "firestone$docs" => "Firestone Library",
 "firestone$docsm" => "Firestone Library",
 "firestone$dr" => "Firestone Library",
 "firestone$dra" => "Firestone Library",
 "firestone$drrr" => "Firestone Library",
 "firestone$dss" => "Firestone Library",
 "firestone$egsr" => "Firestone Library",
 "firestone$fac" => "Firestone Library",
 "firestone$fis" => "Firestone Library",
 "firestone$flm" => "Firestone Library",
 "firestone$flmb" => "Firestone Library",
 "firestone$flmm" => "Firestone Library",
 "firestone$flmp" => "Firestone Library",
 "firestone$gestf" => "Firestone Library",
 "firestone$gss" => "Firestone Library",
 "firestone$hldn" => "Firestone Library",
 "firestone$law" => "Firestone Library",
 "firestone$lrc" => "Firestone Library",
 "firestone$lrcpt" => "Firestone Library",
 "firestone$lrcr" => "Firestone Library",
 "firestone$ltop" => "Firestone Library",
 "firestone$nec" => "Firestone Library",
 "firestone$necnc" => "Firestone Library",
 "firestone$noncirc" => "Firestone Library",
 "firestone$nr" => "Firestone Library",
 "firestone$pb" => "Firestone Library",
 "firestone$pf" => "Firestone Library",
 "firestone$pr" => "Firestone Library",
 "firestone$pres" => "Firestone Library",
 "firestone$prne" => "Firestone Library",
 "firestone$raas" => "Firestone Library",
 "firestone$res24hr" => "Firestone Library",
 "firestone$res3hr" => "Firestone Library",
 "firestone$rrel" => "Firestone Library",
 "firestone$rsc" => "Firestone Library",
 "firestone$rsd" => "Firestone Library",
 "firestone$rse" => "Firestone Library",
 "firestone$rsh" => "Firestone Library",
 "firestone$rslv" => "Firestone Library",
 "firestone$rsne" => "Firestone Library",
 "firestone$rspc" => "Firestone Library",
 "firestone$rssa" => "Firestone Library",
 "firestone$sc" => "Firestone Library",
 "firestone$sd" => "Firestone Library",
 "firestone$se" => "Firestone Library",
 "firestone$secw" => "Firestone Library",
 "firestone$seref" => "Firestone Library",
 "firestone$sh" => "Firestone Library",
 "firestone$shs" => "Firestone Library",
 "firestone$slav" => "Firestone Library",
 "firestone$sne" => "Firestone Library",
 "firestone$spc" => "Firestone Library",
 "firestone$sps" => "Firestone Library",
 "firestone$srel" => "Firestone Library",
 "firestone$ssa" => "Firestone Library",
 "firestone$ssrcdc" => "Firestone Library",
 "firestone$ssrcfo" => "Firestone Library",
 "firestone$sss" => "Firestone Library",
 "firestone$stacks" => "Firestone Library",
 "firestone$isc" => "Firestone Library",
 "firestone$trv" => "Firestone Library",
 "firestone$un" => "Firestone Library",
 "firestone$UNASSIGNED" => "Firestone Library",
 "firestone$vidl" => "Firestone Library",
 "firestone$vidlr" => "Firestone Library",
 "firestone$xl" => "Firestone Library",
 "firestone$xlnc" => "Firestone Library",
 "firestone$zeiss" => "Firestone Library",
 "firestone$tech" => "Firestone Library",
 "lewis$tech" => "Lewis Library",
 "lewis$maker" => "Lewis Library",
 "lewis$doc" => "Lewis Library",
 "lewis$efa" => "Lewis Library",
 "lewis$gis" => "Lewis Library",
 "lewis$gr" => "Lewis Library",
 "lewis$laf" => "Lewis Library",
 "lewis$lal" => "Lewis Library",
 "lewis$ltop" => "Lewis Library",
 "lewis$map" => "Lewis Library",
 "lewis$maplf" => "Lewis Library",
 "lewis$maplref" => "Lewis Library",
 "lewis$mapmc" => "Lewis Library",
 "lewis$mapmcm" => "Lewis Library",
 "lewis$media" => "Lewis Library",
 "lewis$mic" => "Lewis Library",
 "lewis$nb" => "Lewis Library",
 "lewis$pam" => "Lewis Library",
 "lewis$ph" => "Lewis Library",
 "lewis$pn" => "Lewis Library",
 "lewis$ps" => "Lewis Library",
 "lewis$ref" => "Lewis Library",
 "lewis$refid" => "Lewis Library",
 "lewis$res" => "Lewis Library",
 "lewis$resterm" => "Lewis Library",
 "lewis$serial" => "Lewis Library",
 "lewis$stacks" => "Lewis Library",
 "lewis$sudoc" => "Lewis Library",
 "lewis$theses" => "Lewis Library",
 "lewis$UNASSIGNED" => "Lewis Library",
 "marquand$tech" => "Marquand Library",
 "marquand$fesrf" => "Marquand Library",
 "marquand$ltop" => "Marquand Library",
 "marquand$mic" => "Marquand Library",
 "marquand$ms" => "Marquand Library",
 "marquand$msref" => "Marquand Library",
 "marquand$pj" => "Marquand Library",
 "marquand$pv" => "Marquand Library",
 "marquand$pz" => "Marquand Library",
 "marquand$ref" => "Marquand Library",
 "marquand$res" => "Marquand Library",
 "marquand$rp" => "Marquand Library",
 "marquand$saf" => "Marquand Library",
 "marquand$stacks" => "Marquand Library",
 "marquand$t" => "Marquand Library",
 "marquand$UNASSIGNED" => "Marquand Library",
 "marquand$wr" => "Marquand Library",
 "marquand$x" => "Marquand Library",
 "mendel$tech" => "Mendel Music Library",
 "mendel$av" => "Mendel Music Library",
 "mendel$facs" => "Mendel Music Library",
 "mendel$g" => "Mendel Music Library",
 "mendel$locked" => "Mendel Music Library",
 "mendel$nb" => "Mendel Music Library",
 "mendel$pe" => "Mendel Music Library",
 "mendel$pk" => "Mendel Music Library",
 "mendel$qk" => "Mendel Music Library",
 "mendel$ref" => "Mendel Music Library",
 "mendel$res" => "Mendel Music Library",
 "mendel$rg" => "Mendel Music Library",
 "mendel$stacks" => "Mendel Music Library",
 "mendel$UNASSIGNED" => "Mendel Music Library",
 "mudd$mic" => "Mudd Manuscript Library",
 "mudd$ph" => "Mudd Manuscript Library",
 "mudd$phr" => "Mudd Manuscript Library",
 "mudd$prnc" => "Mudd Manuscript Library",
 "mudd$scamudd" => "Mudd Manuscript Library",
 "mudd$stacks" => "Mudd Manuscript Library",
 "mudd$UNASSIGNED" => "Mudd Manuscript Library",
 "online$UNASSIGNED" => "Electronic Access",
 "plasma$index" => "Harold P. Furth Plasma Physics Library",
 "plasma$la" => "Harold P. Furth Plasma Physics Library",
 "plasma$li" => "Harold P. Furth Plasma Physics Library",
 "plasma$nb" => "Harold P. Furth Plasma Physics Library",
 "plasma$ps" => "Harold P. Furth Plasma Physics Library",
 "plasma$rdr" => "Harold P. Furth Plasma Physics Library",
 "plasma$ref" => "Harold P. Furth Plasma Physics Library",
 "plasma$res" => "Harold P. Furth Plasma Physics Library",
 "plasma$rr" => "Harold P. Furth Plasma Physics Library",
 "plasma$serial" => "Harold P. Furth Plasma Physics Library",
 "plasma$stacks" => "Harold P. Furth Plasma Physics Library",
 "plasma$theses" => "Harold P. Furth Plasma Physics Library",
 "plasma$UNASSIGNED" => "Harold P. Furth Plasma Physics Library",
 "rare$beac" => "Special Collections",
 "rare$cook" => "Special Collections",
 "rare$crare" => "Special Collections",
 "rare$ctsn" => "Special Collections",
 "rare$ctsnrf" => "Special Collections",
 "rare$ed" => "Special Collections",
 "rare$ex" => "Special Collections",
 "rare$exb" => "Special Collections",
 "rare$exc" => "Special Collections",
 "rare$exca" => "Special Collections",
 "rare$exf" => "Special Collections",
 "rare$exho" => "Special Collections",
 "rare$exi" => "Special Collections",
 "rare$exka" => "Special Collections",
 "rare$exki" => "Special Collections",
 "rare$exl" => "Special Collections",
 "rare$exme" => "Special Collections",
 "rare$exov" => "Special Collections",
 "rare$expa" => "Special Collections",
 "rare$exrc" => "Special Collections",
 "rare$exrl" => "Special Collections",
 "rare$extr" => "Special Collections",
 "rare$extsf" => "Special Collections",
 "rare$exv" => "Special Collections",
 "rare$exw" => "Special Collections",
 "rare$ga" => "Special Collections",
 "rare$garf" => "Special Collections",
 "rare$gax" => "Special Collections",
 "rare$gestrare" => "Special Collections",
 "rare$hsvc" => "Special Collections",
 "rare$hsve" => "Special Collections",
 "rare$hsvg" => "Special Collections",
 "rare$hsvm" => "Special Collections",
 "rare$hsvn" => "Special Collections",
 "rare$hsvp" => "Special Collections",
 "rare$hsvr" => "Special Collections",
 "rare$hsvw" => "Special Collections",
 "rare$htn" => "Special Collections",
 "rare$hycrare" => "Special Collections",
 "rare$hyjrare" => "Special Collections",
 "rare$hykrare" => "Special Collections",
 "rare$jrare" => "Special Collections",
 "rare$krare" => "Special Collections",
 "rare$map" => "Special Collections",
 "rare$mss" => "Special Collections",
 "rare$njpg" => "Special Collections",
 "rare$num" => "Special Collections",
 "rare$numrf" => "Special Collections",
 "rare$pb" => "Special Collections",
 "rare$pg" => "Special Collections",
 "rare$ptt" => "Special Collections",
 "rare$rht" => "Special Collections",
 "rare$scactsn" => "Special Collections",
 "rare$scaex" => "Special Collections",
 "rare$scagax" => "Special Collections",
 "rare$scahsvm" => "Special Collections",
 "rare$scamss" => "Special Collections",
 "rare$scathx" => "Special Collections",
 "rare$scawa" => "Special Collections",
 "rare$xcr" => "Special Collections",
 "rare$xgr" => "Special Collections",
 "rare$xrr" => "Special Collections",
 "rare$scahsvc" => "Special Collections",
 "rare$thx" => "Special Collections",
 "rare$thxr" => "Special Collections",
 "rare$UNASSIGNED" => "Special Collections",
 "rare$vrg" => "Special Collections",
 "rare$w" => "Special Collections",
 "rare$wa" => "Special Collections",
 "rare$warf" => "Special Collections",
 "rare$whs" => "Special Collections",
 "rare$wit" => "Special Collections",
 "rare$xc" => "Special Collections",
 "rare$xg" => "Special Collections",
 "rare$xm" => "Special Collections",
 "rare$xmr" => "Special Collections",
 "rare$xn" => "Special Collections",
 "rare$xp" => "Special Collections",
 "rare$xr" => "Special Collections",
 "rare$xw" => "Special Collections",
 "rare$xx" => "Special Collections",
 "rare$scawhs" => "Special Collections",
 "recap$gp" => "ReCAP",
 "recap$jq" => "ReCAP",
 "recap$pa" => "ReCAP",
 "recap$pe" => "ReCAP",
 "recap$pq" => "ReCAP",
 "recap$qb" => "ReCAP",
 "recap$qv" => "ReCAP",
 "recap$qx" => "ReCAP",
 "recap$UNASSIGNED" => "ReCAP",
 "resshare$bdirect" => "Resource Sharing",
 "resshare$htcsc" => "Resource Sharing",
 "RES_SHARE$IN_RS_REQ" => "Resource Sharing Library",
 "RES_SHARE$OUT_RS_REQ" => "Resource Sharing Library",
 "resshare$UNASSIGNED" => "Resource Sharing",
 "scsbcul" => "ReCAP",
 "scsbhl" => "ReCAP",
 "scsbnypl" => "ReCAP",
 "stokes$tech" => "Stokes Library",
 "stokes$index" => "Stokes Library",
 "stokes$ltop" => "Stokes Library",
 "stokes$mic" => "Stokes Library",
 "stokes$nb" => "Stokes Library",
 "stokes$piapr" => "Stokes Library",
 "stokes$pm" => "Stokes Library",
 "stokes$ref" => "Stokes Library",
 "stokes$respiapr" => "Stokes Library",
 "stokes$spia" => "Stokes Library",
 "stokes$spiaa" => "Stokes Library",
 "stokes$spiaps" => "Stokes Library",
 "stokes$spiaws" => "Stokes Library",
 "stokes$spir" => "Stokes Library",
 "stokes$spr" => "Stokes Library",
 "stokes$sprps" => "Stokes Library",
 "stokes$UNASSIGNED" => "Stokes Library",
 "techserv$acqord" => "Technical Services",
 "techserv$acqper" => "Technical Services",
 "techserv$acqser" => "Technical Services",
 "techserv$dc" => "Technical Services",
 "techserv$UNASSIGNED" => "Technical Services",
 "zobsolete$zned" => "Obsolete Locations",
 "zobsolete$zscl" => "Obsolete Locations"}
