<h1>Hours Locations</h1>

<table class="table tablesorter tablesorter-blue sortonly">
  <thead>
    <tr>
      <th>Label</th>
      <th>Code</th>
    </tr>
  </thead>

  <tbody>
    <% @hours_locations.each do |hours_location| %>
      <tr>
        <td><%= link_to hours_location.label, hours_location %></td>
        <td><%= hours_location.code %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'View as JSON', format: :json %>
